$font-family-light: "gds-icon-light" !default;

$light-abacus: "\e900";
$light-acorn: "\e901";
$light-ad: "\e902";
$light-address-book: "\e903";
$light-address-card: "\e904";
$light-adjust: "\e905";
$light-air-freshener: "\e906";
$light-alarm-clock: "\e907";
$light-alicorn: "\e908";
$light-align-center: "\e909";
$light-align-justify: "\e90a";
$light-align-left: "\e90b";
$light-align-right: "\e90c";
$light-allergies: "\e90d";
$light-ambulance: "\e90e";
$light-american-sign-language-interpreting: "\e90f";
$light-analytics: "\e910";
$light-anchor: "\e911";
$light-angel: "\e912";
$light-angle-double-down: "\e913";
$light-angle-double-left: "\e914";
$light-angle-double-right: "\e915";
$light-angle-double-up: "\e916";
$light-angle-down: "\e917";
$light-angle-left: "\e918";
$light-angle-right: "\e919";
$light-angle-up: "\e91a";
$light-angry: "\e91b";
$light-ankh: "\e91c";
$light-apple-alt: "\e91d";
$light-apple-crate: "\e91e";
$light-archive: "\e91f";
$light-archway: "\e920";
$light-arrow-alt-circle-down: "\e921";
$light-arrow-alt-circle-left: "\e922";
$light-arrow-alt-circle-right: "\e923";
$light-arrow-alt-circle-up: "\e924";
$light-arrow-alt-down: "\e925";
$light-arrow-alt-from-bottom: "\e926";
$light-arrow-alt-from-left: "\e927";
$light-arrow-alt-from-right: "\e928";
$light-arrow-alt-from-top: "\e929";
$light-arrow-alt-left: "\e92a";
$light-arrow-alt-right: "\e92b";
$light-arrow-alt-square-down: "\e92c";
$light-arrow-alt-square-left: "\e92d";
$light-arrow-alt-square-right: "\e92e";
$light-arrow-alt-square-up: "\e92f";
$light-arrow-alt-to-bottom: "\e930";
$light-arrow-alt-to-left: "\e931";
$light-arrow-alt-to-right: "\e932";
$light-arrow-alt-to-top: "\e933";
$light-arrow-alt-up: "\e934";
$light-arrow-circle-down: "\e935";
$light-arrow-circle-left: "\e936";
$light-arrow-circle-right: "\e937";
$light-arrow-circle-up: "\e938";
$light-arrow-down: "\e939";
$light-arrow-from-bottom: "\e93a";
$light-arrow-from-left: "\e93b";
$light-arrow-from-right: "\e93c";
$light-arrow-from-top: "\e93d";
$light-arrow-left: "\e93e";
$light-arrow-right: "\e93f";
$light-arrows: "\e940";
$light-arrows-alt: "\e941";
$light-arrows-alt-h: "\e942";
$light-arrows-alt-v: "\e943";
$light-arrows-h: "\e944";
$light-arrow-square-down: "\e945";
$light-arrow-square-left: "\e946";
$light-arrow-square-right: "\e947";
$light-arrow-square-up: "\e948";
$light-arrows-v: "\e949";
$light-arrow-to-bottom: "\e94a";
$light-arrow-to-left: "\e94b";
$light-arrow-to-right: "\e94c";
$light-arrow-to-top: "\e94d";
$light-arrow-up: "\e94e";
$light-assistive-listening-systems: "\e94f";
$light-asterisk: "\e950";
$light-at: "\e951";
$light-atlas: "\e952";
$light-atom: "\e953";
$light-atom-alt: "\e954";
$light-audio-description: "\e955";
$light-award: "\e956";
$light-axe: "\e957";
$light-axe-battle: "\e958";
$light-baby: "\e959";
$light-baby-carriage: "\e95a";
$light-backpack: "\e95b";
$light-backspace: "\e95c";
$light-backward: "\e95d";
$light-badge: "\e95e";
$light-badge-check: "\e95f";
$light-badge-dollar: "\e960";
$light-badge-percent: "\e961";
$light-badger-honey: "\e962";
$light-balance-scale: "\e963";
$light-balance-scale-left: "\e964";
$light-balance-scale-right: "\e965";
$light-ballot: "\e966";
$light-ballot-check: "\e967";
$light-ball-pile: "\e968";
$light-ban: "\e969";
$light-band-aid: "\e96a";
$light-barcode: "\e96b";
$light-barcode-alt: "\e96c";
$light-barcode-read: "\e96d";
$light-barcode-scan: "\e96e";
$light-bars: "\e96f";
$light-baseball: "\e970";
$light-baseball-ball: "\e971";
$light-basketball-ball: "\e972";
$light-basketball-hoop: "\e973";
$light-bat: "\e974";
$light-bath: "\e975";
$light-battery-bolt: "\e976";
$light-battery-empty: "\e977";
$light-battery-full: "\e978";
$light-battery-half: "\e979";
$light-battery-quarter: "\e97a";
$light-battery-slash: "\e97b";
$light-battery-three-quarters: "\e97c";
$light-bed: "\e97d";
$light-beer: "\e97e";
$light-bell: "\e97f";
$light-bells: "\e980";
$light-bell-school: "\e981";
$light-bell-school-slash: "\e982";
$light-bell-slash: "\e983";
$light-bezier-curve: "\e984";
$light-bible: "\e985";
$light-bicycle: "\e986";
$light-binoculars: "\e987";
$light-biohazard: "\e988";
$light-birthday-cake: "\e989";
$light-blanket: "\e98a";
$light-blender: "\e98b";
$light-blender-phone: "\e98c";
$light-blind: "\e98d";
$light-blog: "\e98e";
$light-bold: "\e98f";
$light-bolt: "\e990";
$light-bomb: "\e991";
$light-bone: "\e992";
$light-bone-break: "\e993";
$light-bong: "\e994";
$light-book: "\e995";
$light-book-alt: "\e996";
$light-book-dead: "\e997";
$light-book-heart: "\e998";
$light-bookmark: "\e999";
$light-book-open: "\e99a";
$light-book-reader: "\e99b";
$light-books: "\e99c";
$light-book-spells: "\e99d";
$light-boot: "\e99e";
$light-booth-curtain: "\e99f";
$light-bow-arrow: "\e9a0";
$light-bowling-ball: "\e9a1";
$light-bowling-pins: "\e9a2";
$light-box: "\e9a3";
$light-box-alt: "\e9a4";
$light-box-ballot: "\e9a5";
$light-box-check: "\e9a6";
$light-boxes: "\e9a7";
$light-boxes-alt: "\e9a8";
$light-box-fragile: "\e9a9";
$light-box-full: "\e9aa";
$light-box-heart: "\e9ab";
$light-boxing-glove: "\e9ac";
$light-box-open: "\e9ad";
$light-box-up: "\e9ae";
$light-box-usd: "\e9af";
$light-braille: "\e9b0";
$light-brain: "\e9b1";
$light-briefcase: "\e9b2";
$light-briefcase-medical: "\e9b3";
$light-broadcast-tower: "\e9b4";
$light-broom: "\e9b5";
$light-browser: "\e9b6";
$light-brush: "\e9b7";
$light-bug: "\e9b8";
$light-building: "\e9b9";
$light-bullhorn: "\e9ba";
$light-bullseye: "\e9bb";
$light-bullseye-arrow: "\e9bc";
$light-bullseye-pointer: "\e9bd";
$light-burn: "\e9be";
$light-bus: "\e9bf";
$light-bus-alt: "\e9c0";
$light-business-time: "\e9c1";
$light-bus-school: "\e9c2";
$light-cabinet-filing: "\e9c3";
$light-calculator: "\e9c4";
$light-calculator-alt: "\e9c5";
$light-calendar: "\e9c6";
$light-calendar-alt: "\e9c7";
$light-calendar-check: "\e9c8";
$light-calendar-day: "\e9c9";
$light-calendar-edit: "\e9ca";
$light-calendar-exclamation: "\e9cb";
$light-calendar-minus: "\e9cc";
$light-calendar-plus: "\e9cd";
$light-calendar-star: "\e9ce";
$light-calendar-times: "\e9cf";
$light-calendar-week: "\e9d0";
$light-camera: "\e9d1";
$light-camera-alt: "\e9d2";
$light-camera-retro: "\e9d3";
$light-campfire: "\e9d4";
$light-campground: "\e9d5";
$light-candle-holder: "\e9d6";
$light-candy-cane: "\e9d7";
$light-candy-corn: "\e9d8";
$light-cannabis: "\e9d9";
$light-capsules: "\e9da";
$light-car: "\e9db";
$light-car-alt: "\e9dc";
$light-car-battery: "\e9dd";
$light-car-bump: "\e9de";
$light-car-crash: "\e9df";
$light-caret-circle-down: "\e9e0";
$light-caret-circle-left: "\e9e1";
$light-caret-circle-right: "\e9e2";
$light-caret-circle-up: "\e9e3";
$light-caret-down: "\e9e4";
$light-caret-left: "\e9e5";
$light-caret-right: "\e9e6";
$light-caret-square-down: "\e9e7";
$light-caret-square-left: "\e9e8";
$light-caret-square-right: "\e9e9";
$light-caret-square-up: "\e9ea";
$light-caret-up: "\e9eb";
$light-car-garage: "\e9ec";
$light-car-mechanic: "\e9ed";
$light-carrot: "\e9ee";
$light-car-side: "\e9ef";
$light-cart-arrow-down: "\e9f0";
$light-car-tilt: "\e9f1";
$light-cart-plus: "\e9f2";
$light-car-wash: "\e9f3";
$light-cash-register: "\e9f4";
$light-cat: "\e9f5";
$light-cauldron: "\e9f6";
$light-certificate: "\e9f7";
$light-chair: "\e9f8";
$light-chair-office: "\e9f9";
$light-chalkboard: "\e9fa";
$light-chalkboard-teacher: "\e9fb";
$light-charging-station: "\e9fc";
$light-chart-area: "\e9fd";
$light-chart-bar: "\e9fe";
$light-chart-line: "\e9ff";
$light-chart-line-down: "\ea00";
$light-chart-network: "\ea01";
$light-chart-pie: "\ea02";
$light-chart-pie-alt: "\ea03";
$light-check: "\ea04";
$light-check-circle: "\ea05";
$light-check-double: "\ea06";
$light-check-square: "\ea07";
$light-chess: "\ea08";
$light-chess-bishop: "\ea09";
$light-chess-bishop-alt: "\ea0a";
$light-chess-board: "\ea0b";
$light-chess-clock: "\ea0c";
$light-chess-clock-alt: "\ea0d";
$light-chess-king: "\ea0e";
$light-chess-king-alt: "\ea0f";
$light-chess-knight: "\ea10";
$light-chess-knight-alt: "\ea11";
$light-chess-pawn: "\ea12";
$light-chess-pawn-alt: "\ea13";
$light-chess-queen: "\ea14";
$light-chess-queen-alt: "\ea15";
$light-chess-rook: "\ea16";
$light-chess-rook-alt: "\ea17";
$light-chevron-circle-down: "\ea18";
$light-chevron-circle-left: "\ea19";
$light-chevron-circle-right: "\ea1a";
$light-chevron-circle-up: "\ea1b";
$light-chevron-double-down: "\ea1c";
$light-chevron-double-left: "\ea1d";
$light-chevron-double-right: "\ea1e";
$light-chevron-double-up: "\ea1f";
$light-chevron-down: "\ea20";
$light-chevron-left: "\ea21";
$light-chevron-right: "\ea22";
$light-chevron-square-down: "\ea23";
$light-chevron-square-left: "\ea24";
$light-chevron-square-right: "\ea25";
$light-chevron-square-up: "\ea26";
$light-chevron-up: "\ea27";
$light-child: "\ea28";
$light-chimney: "\ea29";
$light-church: "\ea2a";
$light-circle: "\ea2b";
$light-circle-notch: "\ea2c";
$light-city: "\ea2d";
$light-claw-marks: "\ea2e";
$light-clipboard: "\ea2f";
$light-clipboard-check: "\ea30";
$light-clipboard-list: "\ea31";
$light-clipboard-list-check: "\ea32";
$light-clipboard-prescription: "\ea33";
$light-clock: "\ea34";
$light-clone: "\ea35";
$light-closed-captioning: "\ea36";
$light-cloud: "\ea37";
$light-cloud-download: "\ea38";
$light-cloud-download-alt: "\ea39";
$light-cloud-drizzle: "\ea3a";
$light-cloud-hail: "\ea3b";
$light-cloud-hail-mixed: "\ea3c";
$light-cloud-meatball: "\ea3d";
$light-cloud-moon: "\ea3e";
$light-cloud-moon-rain: "\ea3f";
$light-cloud-rain: "\ea40";
$light-cloud-rainbow: "\ea41";
$light-clouds: "\ea42";
$light-cloud-showers: "\ea43";
$light-cloud-showers-heavy: "\ea44";
$light-cloud-sleet: "\ea45";
$light-clouds-moon: "\ea46";
$light-cloud-snow: "\ea47";
$light-clouds-sun: "\ea48";
$light-cloud-sun: "\ea49";
$light-cloud-sun-rain: "\ea4a";
$light-cloud-upload: "\ea4b";
$light-cloud-upload-alt: "\ea4c";
$light-club: "\ea4d";
$light-cocktail: "\ea4e";
$light-code: "\ea4f";
$light-code-branch: "\ea50";
$light-code-commit: "\ea51";
$light-code-merge: "\ea52";
$light-coffee: "\ea53";
$light-coffee-togo: "\ea54";
$light-coffin: "\ea55";
$light-cog: "\ea56";
$light-cogs: "\ea57";
$light-coins: "\ea58";
$light-columns: "\ea59";
$light-comment: "\ea5a";
$light-comment-alt: "\ea5b";
$light-comment-alt-check: "\ea5c";
$light-comment-alt-dollar: "\ea5d";
$light-comment-alt-dots: "\ea5e";
$light-comment-alt-edit: "\ea5f";
$light-comment-alt-exclamation: "\ea60";
$light-comment-alt-lines: "\ea61";
$light-comment-alt-minus: "\ea62";
$light-comment-alt-plus: "\ea63";
$light-comment-alt-slash: "\ea64";
$light-comment-alt-smile: "\ea65";
$light-comment-alt-times: "\ea66";
$light-comment-check: "\ea67";
$light-comment-dollar: "\ea68";
$light-comment-dots: "\ea69";
$light-comment-edit: "\ea6a";
$light-comment-exclamation: "\ea6b";
$light-comment-lines: "\ea6c";
$light-comment-minus: "\ea6d";
$light-comment-plus: "\ea6e";
$light-comments: "\ea6f";
$light-comments-alt: "\ea70";
$light-comments-alt-dollar: "\ea71";
$light-comments-dollar: "\ea72";
$light-comment-slash: "\ea73";
$light-comment-smile: "\ea74";
$light-comment-times: "\ea75";
$light-compact-disc: "\ea76";
$light-compass: "\ea77";
$light-compass-slash: "\ea78";
$light-compress: "\ea79";
$light-compress-alt: "\ea7a";
$light-compress-arrows-alt: "\ea7b";
$light-compress-wide: "\ea7c";
$light-concierge-bell: "\ea7d";
$light-container-storage: "\ea7e";
$light-conveyor-belt: "\ea7f";
$light-conveyor-belt-alt: "\ea80";
$light-cookie: "\ea81";
$light-cookie-bite: "\ea82";
$light-copy: "\ea83";
$light-copyright: "\ea84";
$light-corn: "\ea85";
$light-couch: "\ea86";
$light-cow: "\ea87";
$light-credit-card: "\ea88";
$light-credit-card-blank: "\ea89";
$light-credit-card-front: "\ea8a";
$light-cricket: "\ea8b";
$light-crop: "\ea8c";
$light-crop-alt: "\ea8d";
$light-cross: "\ea8e";
$light-crosshairs: "\ea8f";
$light-crow: "\ea90";
$light-crown: "\ea91";
$light-cube: "\ea92";
$light-cubes: "\ea93";
$light-curling: "\ea94";
$light-cut: "\ea95";
$light-dagger: "\ea96";
$light-database: "\ea97";
$light-deaf: "\ea98";
$light-deer: "\ea99";
$light-deer-rudolph: "\ea9a";
$light-democrat: "\ea9b";
$light-desktop: "\ea9c";
$light-desktop-alt: "\ea9d";
$light-dewpoint: "\ea9e";
$light-dharmachakra: "\ea9f";
$light-diagnoses: "\eaa0";
$light-diamond: "\eaa1";
$light-dice: "\eaa2";
$light-dice-d4: "\eaa3";
$light-dice-d6: "\eaa4";
$light-dice-d8: "\eaa5";
$light-dice-d10: "\eaa6";
$light-dice-d12: "\eaa7";
$light-dice-d20: "\eaa8";
$light-dice-five: "\eaa9";
$light-dice-four: "\eaaa";
$light-dice-one: "\eaab";
$light-dice-six: "\eaac";
$light-dice-three: "\eaad";
$light-dice-two: "\eaae";
$light-digital-tachograph: "\eaaf";
$light-diploma: "\eab0";
$light-directions: "\eab1";
$light-divide: "\eab2";
$light-dizzy: "\eab3";
$light-dna: "\eab4";
$light-dog: "\eab5";
$light-dog-leashed: "\eab6";
$light-dollar-sign: "\eab7";
$light-dolly: "\eab8";
$light-dolly-empty: "\eab9";
$light-dolly-flatbed: "\eaba";
$light-dolly-flatbed-alt: "\eabb";
$light-dolly-flatbed-empty: "\eabc";
$light-donate: "\eabd";
$light-do-not-enter: "\eabe";
$light-door-closed: "\eabf";
$light-door-open: "\eac0";
$light-dot-circle: "\eac1";
$light-dove: "\eac2";
$light-download: "\eac3";
$light-drafting-compass: "\eac4";
$light-dragon: "\eac5";
$light-draw-circle: "\eac6";
$light-draw-polygon: "\eac7";
$light-draw-square: "\eac8";
$light-dreidel: "\eac9";
$light-drum: "\eaca";
$light-drum-steelpan: "\eacb";
$light-drumstick: "\eacc";
$light-drumstick-bite: "\eacd";
$light-duck: "\eace";
$light-dumbbell: "\eacf";
$light-dumpster: "\ead0";
$light-dumpster-fire: "\ead1";
$light-dungeon: "\ead2";
$light-ear: "\ead3";
$light-ear-muffs: "\ead4";
$light-eclipse: "\ead5";
$light-eclipse-alt: "\ead6";
$light-edit: "\ead7";
$light-eject: "\ead8";
$light-elephant: "\ead9";
$light-ellipsis-h: "\eada";
$light-ellipsis-h-alt: "\eadb";
$light-ellipsis-v: "\eadc";
$light-ellipsis-v-alt: "\eadd";
$light-empty-set: "\eade";
$light-engine-warning: "\eadf";
$light-envelope: "\eae0";
$light-envelope-open: "\eae1";
$light-envelope-open-dollar: "\eae2";
$light-envelope-open-text: "\eae3";
$light-envelope-square: "\eae4";
$light-equals: "\eae5";
$light-eraser: "\eae6";
$light-ethernet: "\eae7";
$light-euro-sign: "\eae8";
$light-exchange: "\eae9";
$light-exchange-alt: "\eaea";
$light-exclamation: "\eaeb";
$light-exclamation-circle: "\eaec";
$light-exclamation-square: "\eaed";
$light-exclamation-triangle: "\eaee";
$light-expand: "\eaef";
$light-expand-alt: "\eaf0";
$light-expand-arrows: "\eaf1";
$light-expand-arrows-alt: "\eaf2";
$light-expand-wide: "\eaf3";
$light-external-link: "\eaf4";
$light-external-link-alt: "\eaf5";
$light-external-link-square: "\eaf6";
$light-external-link-square-alt: "\eaf7";
$light-eye: "\eaf8";
$light-eye-dropper: "\eaf9";
$light-eye-evil: "\eafa";
$light-eye-slash: "\eafb";
$light-fast-backward: "\eafc";
$light-fast-forward: "\eafd";
$light-fax: "\eafe";
$light-feather: "\eaff";
$light-feather-alt: "\eb00";
$light-female: "\eb01";
$light-field-hockey: "\eb02";
$light-fighter-jet: "\eb03";
$light-file: "\eb04";
$light-file-alt: "\eb05";
$light-file-archive: "\eb06";
$light-file-audio: "\eb07";
$light-file-certificate: "\eb08";
$light-file-chart-line: "\eb09";
$light-file-chart-pie: "\eb0a";
$light-file-check: "\eb0b";
$light-file-code: "\eb0c";
$light-file-contract: "\eb0d";
$light-file-csv: "\eb0e";
$light-file-download: "\eb0f";
$light-file-edit: "\eb10";
$light-file-excel: "\eb11";
$light-file-exclamation: "\eb12";
$light-file-export: "\eb13";
$light-file-image: "\eb14";
$light-file-import: "\eb15";
$light-file-invoice: "\eb16";
$light-file-invoice-dollar: "\eb17";
$light-file-medical: "\eb18";
$light-file-medical-alt: "\eb19";
$light-file-minus: "\eb1a";
$light-file-pdf: "\eb1b";
$light-file-plus: "\eb1c";
$light-file-powerpoint: "\eb1d";
$light-file-prescription: "\eb1e";
$light-file-signature: "\eb1f";
$light-file-spreadsheet: "\eb20";
$light-file-times: "\eb21";
$light-file-upload: "\eb22";
$light-file-user: "\eb23";
$light-file-video: "\eb24";
$light-file-word: "\eb25";
$light-fill: "\eb26";
$light-fill-drip: "\eb27";
$light-film: "\eb28";
$light-film-alt: "\eb29";
$light-filter: "\eb2a";
$light-fingerprint: "\eb2b";
$light-fire: "\eb2c";
$light-fire-extinguisher: "\eb2d";
$light-fireplace: "\eb2e";
$light-fire-smoke: "\eb2f";
$light-first-aid: "\eb30";
$light-fish: "\eb31";
$light-fist-raised: "\eb32";
$light-flag: "\eb33";
$light-flag-alt: "\eb34";
$light-flag-checkered: "\eb35";
$light-flag-usa: "\eb36";
$light-flame: "\eb37";
$light-flask: "\eb38";
$light-flask-poison: "\eb39";
$light-flask-potion: "\eb3a";
$light-flushed: "\eb3b";
$light-fog: "\eb3c";
$light-folder: "\eb3d";
$light-folder-minus: "\eb3e";
$light-folder-open: "\eb3f";
$light-folder-plus: "\eb40";
$light-folders: "\eb41";
$light-folder-times: "\eb42";
$light-font: "\eb43";
$light-football-ball: "\eb44";
$light-football-helmet: "\eb45";
$light-forklift: "\eb46";
$light-forward: "\eb47";
$light-fragile: "\eb48";
$light-frog: "\eb49";
$light-frosty-head: "\eb4a";
$light-frown: "\eb4b";
$light-frown-open: "\eb4c";
$light-function: "\eb4d";
$light-funnel-dollar: "\eb4e";
$light-futbol: "\eb4f";
$light-gamepad: "\eb50";
$light-gas-pump: "\eb51";
$light-gas-pump-slash: "\eb52";
$light-gavel: "\eb53";
$light-gem: "\eb54";
$light-genderless: "\eb55";
$light-ghost: "\eb56";
$light-gift: "\eb57";
$light-gift-card: "\eb58";
$light-gifts: "\eb59";
$light-gingerbread-man: "\eb5a";
$light-glass-champagne: "\eb5b";
$light-glass-cheers: "\eb5c";
$light-glasses: "\eb5d";
$light-glasses-alt: "\eb5e";
$light-glass-martini: "\eb5f";
$light-glass-martini-alt: "\eb60";
$light-glass-whiskey: "\eb61";
$light-glass-whiskey-rocks: "\eb62";
$light-globe: "\eb63";
$light-globe-africa: "\eb64";
$light-globe-americas: "\eb65";
$light-globe-asia: "\eb66";
$light-globe-europe: "\eb67";
$light-globe-snow: "\eb68";
$light-globe-stand: "\eb69";
$light-golf-ball: "\eb6a";
$light-golf-club: "\eb6b";
$light-gopuram: "\eb6c";
$light-graduation-cap: "\eb6d";
$light-greater-than: "\eb6e";
$light-greater-than-equal: "\eb6f";
$light-grimace: "\eb70";
$light-grin: "\eb71";
$light-grin-alt: "\eb72";
$light-grin-beam: "\eb73";
$light-grin-beam-sweat: "\eb74";
$light-grin-hearts: "\eb75";
$light-grin-squint: "\eb76";
$light-grin-squint-tears: "\eb77";
$light-grin-stars: "\eb78";
$light-grin-tears: "\eb79";
$light-grin-tongue: "\eb7a";
$light-grin-tongue-squint: "\eb7b";
$light-grin-tongue-wink: "\eb7c";
$light-grin-wink: "\eb7d";
$light-grip-horizontal: "\eb7e";
$light-grip-lines: "\eb7f";
$light-grip-lines-vertical: "\eb80";
$light-grip-vertical: "\eb81";
$light-guitar: "\eb82";
$light-h1: "\eb83";
$light-h2: "\eb84";
$light-h3: "\eb85";
$light-hammer: "\eb86";
$light-hammer-war: "\eb87";
$light-hamsa: "\eb88";
$light-hand-heart: "\eb89";
$light-hand-holding: "\eb8a";
$light-hand-holding-box: "\eb8b";
$light-hand-holding-heart: "\eb8c";
$light-hand-holding-magic: "\eb8d";
$light-hand-holding-seedling: "\eb8e";
$light-hand-holding-usd: "\eb8f";
$light-hand-holding-water: "\eb90";
$light-hand-lizard: "\eb91";
$light-hand-paper: "\eb92";
$light-hand-peace: "\eb93";
$light-hand-point-down: "\eb94";
$light-hand-pointer: "\eb95";
$light-hand-point-left: "\eb96";
$light-hand-point-right: "\eb97";
$light-hand-point-up: "\eb98";
$light-hand-receiving: "\eb99";
$light-hand-rock: "\eb9a";
$light-hands: "\eb9b";
$light-hand-scissors: "\eb9c";
$light-handshake: "\eb9d";
$light-handshake-alt: "\eb9e";
$light-hands-heart: "\eb9f";
$light-hands-helping: "\eba0";
$light-hand-spock: "\eba1";
$light-hands-usd: "\eba2";
$light-hanukiah: "\eba3";
$light-hashtag: "\eba4";
$light-hat-santa: "\eba5";
$light-hat-winter: "\eba6";
$light-hat-witch: "\eba7";
$light-hat-wizard: "\eba8";
$light-haykal: "\eba9";
$light-hdd: "\ebaa";
$light-heading: "\ebab";
$light-headphones: "\ebac";
$light-headphones-alt: "\ebad";
$light-headset: "\ebae";
$light-head-side: "\ebaf";
$light-head-vr: "\ebb0";
$light-heart: "\ebb1";
$light-heartbeat: "\ebb2";
$light-heart-broken: "\ebb3";
$light-heart-circle: "\ebb4";
$light-heart-rate: "\ebb5";
$light-heart-square: "\ebb6";
$light-helicopter: "\ebb7";
$light-helmet-battle: "\ebb8";
$light-hexagon: "\ebb9";
$light-highlighter: "\ebba";
$light-hiking: "\ebbb";
$light-hippo: "\ebbc";
$light-history: "\ebbd";
$light-hockey-mask: "\ebbe";
$light-hockey-puck: "\ebbf";
$light-hockey-sticks: "\ebc0";
$light-holly-berry: "\ebc1";
$light-home: "\ebc2";
$light-home-heart: "\ebc3";
$light-hood-cloak: "\ebc4";
$light-horse: "\ebc5";
$light-horse-head: "\ebc6";
$light-hospital: "\ebc7";
$light-hospital-alt: "\ebc8";
$light-hospital-symbol: "\ebc9";
$light-hotel: "\ebca";
$light-hot-tub: "\ebcb";
$light-hourglass: "\ebcc";
$light-hourglass-end: "\ebcd";
$light-hourglass-half: "\ebce";
$light-hourglass-start: "\ebcf";
$light-house-damage: "\ebd0";
$light-house-flood: "\ebd1";
$light-hryvnia: "\ebd2";
$light-h-square: "\ebd3";
$light-humidity: "\ebd4";
$light-hurricane: "\ebd5";
$light-ice-skate: "\ebd6";
$light-icicles: "\ebd7";
$light-i-cursor: "\ebd8";
$light-id-badge: "\ebd9";
$light-id-card: "\ebda";
$light-id-card-alt: "\ebdb";
$light-igloo: "\ebdc";
$light-image: "\ebdd";
$light-images: "\ebde";
$light-inbox: "\ebdf";
$light-inbox-in: "\ebe0";
$light-inbox-out: "\ebe1";
$light-indent: "\ebe2";
$light-industry: "\ebe3";
$light-industry-alt: "\ebe4";
$light-infinity: "\ebe5";
$light-info: "\ebe6";
$light-info-circle: "\ebe7";
$light-info-square: "\ebe8";
$light-inhaler: "\ebe9";
$light-integral: "\ebea";
$light-intersection: "\ebeb";
$light-inventory: "\ebec";
$light-italic: "\ebed";
$light-jack-o-lantern: "\ebee";
$light-jedi: "\ebef";
$light-joint: "\ebf0";
$light-journal-whills: "\ebf1";
$light-kaaba: "\ebf2";
$light-key: "\ebf3";
$light-keyboard: "\ebf4";
$light-keynote: "\ebf5";
$light-key-skeleton: "\ebf6";
$light-khanda: "\ebf7";
$light-kidneys: "\ebf8";
$light-kiss: "\ebf9";
$light-kiss-beam: "\ebfa";
$light-kiss-wink-heart: "\ebfb";
$light-kite: "\ebfc";
$light-kiwi-bird: "\ebfd";
$light-knife-kitchen: "\ebfe";
$light-lambda: "\ebff";
$light-lamp: "\ec00";
$light-landmark: "\ec01";
$light-landmark-alt: "\ec02";
$light-language: "\ec03";
$light-laptop: "\ec04";
$light-laptop-code: "\ec05";
$light-laugh: "\ec06";
$light-laugh-beam: "\ec07";
$light-laugh-squint: "\ec08";
$light-laugh-wink: "\ec09";
$light-layer-group: "\ec0a";
$light-layer-minus: "\ec0b";
$light-layer-plus: "\ec0c";
$light-leaf: "\ec0d";
$light-leaf-heart: "\ec0e";
$light-leaf-maple: "\ec0f";
$light-leaf-oak: "\ec10";
$light-lemon: "\ec11";
$light-less-than: "\ec12";
$light-less-than-equal: "\ec13";
$light-level-down: "\ec14";
$light-level-down-alt: "\ec15";
$light-level-up: "\ec16";
$light-level-up-alt: "\ec17";
$light-life-ring: "\ec18";
$light-lightbulb: "\ec19";
$light-lightbulb-dollar: "\ec1a";
$light-lightbulb-exclamation: "\ec1b";
$light-lightbulb-on: "\ec1c";
$light-lightbulb-slash: "\ec1d";
$light-lights-holiday: "\ec1e";
$light-link: "\ec1f";
$light-lips: "\ec20";
$light-lira-sign: "\ec21";
$light-list: "\ec22";
$light-list-alt: "\ec23";
$light-list-ol: "\ec24";
$light-list-ul: "\ec25";
$light-location: "\ec26";
$light-location-arrow: "\ec27";
$light-location-circle: "\ec28";
$light-location-slash: "\ec29";
$light-lock: "\ec2a";
$light-lock-alt: "\ec2b";
$light-lock-open: "\ec2c";
$light-lock-open-alt: "\ec2d";
$light-long-arrow-alt-down: "\ec2e";
$light-long-arrow-alt-left: "\ec2f";
$light-long-arrow-alt-right: "\ec30";
$light-long-arrow-alt-up: "\ec31";
$light-long-arrow-down: "\ec32";
$light-long-arrow-left: "\ec33";
$light-long-arrow-right: "\ec34";
$light-long-arrow-up: "\ec35";
$light-loveseat: "\ec36";
$light-low-vision: "\ec37";
$light-luchador: "\ec38";
$light-luggage-cart: "\ec39";
$light-lungs: "\ec3a";
$light-mace: "\ec3b";
$light-magic: "\ec3c";
$light-magnet: "\ec3d";
$light-mail-bulk: "\ec3e";
$light-male: "\ec3f";
$light-mandolin: "\ec40";
$light-map: "\ec41";
$light-map-marked: "\ec42";
$light-map-marked-alt: "\ec43";
$light-map-marker: "\ec44";
$light-map-marker-alt: "\ec45";
$light-map-marker-alt-slash: "\ec46";
$light-map-marker-check: "\ec47";
$light-map-marker-edit: "\ec48";
$light-map-marker-exclamation: "\ec49";
$light-map-marker-minus: "\ec4a";
$light-map-marker-plus: "\ec4b";
$light-map-marker-question: "\ec4c";
$light-map-marker-slash: "\ec4d";
$light-map-marker-smile: "\ec4e";
$light-map-marker-times: "\ec4f";
$light-map-pin: "\ec50";
$light-map-signs: "\ec51";
$light-marker: "\ec52";
$light-mars: "\ec53";
$light-mars-double: "\ec54";
$light-mars-stroke: "\ec55";
$light-mars-stroke-h: "\ec56";
$light-mars-stroke-v: "\ec57";
$light-mask: "\ec58";
$light-medal: "\ec59";
$light-medkit: "\ec5a";
$light-megaphone: "\ec5b";
$light-meh: "\ec5c";
$light-meh-blank: "\ec5d";
$light-meh-rolling-eyes: "\ec5e";
$light-memory: "\ec5f";
$light-menorah: "\ec60";
$light-mercury: "\ec61";
$light-meteor: "\ec62";
$light-microchip: "\ec63";
$light-microphone: "\ec64";
$light-microphone-alt: "\ec65";
$light-microphone-alt-slash: "\ec66";
$light-microphone-slash: "\ec67";
$light-microscope: "\ec68";
$light-mind-share: "\ec69";
$light-minus: "\ec6a";
$light-minus-circle: "\ec6b";
$light-minus-hexagon: "\ec6c";
$light-minus-octagon: "\ec6d";
$light-minus-square: "\ec6e";
$light-mistletoe: "\ec6f";
$light-mitten: "\ec70";
$light-mobile: "\ec71";
$light-mobile-alt: "\ec72";
$light-mobile-android: "\ec73";
$light-mobile-android-alt: "\ec74";
$light-money-bill: "\ec75";
$light-money-bill-alt: "\ec76";
$light-money-bill-wave: "\ec77";
$light-money-bill-wave-alt: "\ec78";
$light-money-check: "\ec79";
$light-money-check-alt: "\ec7a";
$light-monitor-heart-rate: "\ec7b";
$light-monkey: "\ec7c";
$light-monument: "\ec7d";
$light-moon: "\ec7e";
$light-moon-cloud: "\ec7f";
$light-moon-stars: "\ec80";
$light-mortar-pestle: "\ec81";
$light-mosque: "\ec82";
$light-motorcycle: "\ec83";
$light-mountain: "\ec84";
$light-mountains: "\ec85";
$light-mouse-pointer: "\ec86";
$light-mug-hot: "\ec87";
$light-mug-marshmallows: "\ec88";
$light-music: "\ec89";
$light-narwhal: "\ec8a";
$light-network-wired: "\ec8b";
$light-neuter: "\ec8c";
$light-newspaper: "\ec8d";
$light-not-equal: "\ec8e";
$light-notes-medical: "\ec8f";
$light-object-group: "\ec90";
$light-object-ungroup: "\ec91";
$light-octagon: "\ec92";
$light-oil-can: "\ec93";
$light-oil-temp: "\ec94";
$light-om: "\ec95";
$light-omega: "\ec96";
$light-ornament: "\ec97";
$light-otter: "\ec98";
$light-outdent: "\ec99";
$light-paint-brush: "\ec9a";
$light-paint-brush-alt: "\ec9b";
$light-paint-roller: "\ec9c";
$light-palette: "\ec9d";
$light-pallet: "\ec9e";
$light-pallet-alt: "\ec9f";
$light-paperclip: "\eca0";
$light-paper-plane: "\eca1";
$light-parachute-box: "\eca2";
$light-paragraph: "\eca3";
$light-parking: "\eca4";
$light-parking-circle: "\eca5";
$light-parking-circle-slash: "\eca6";
$light-parking-slash: "\eca7";
$light-passport: "\eca8";
$light-pastafarianism: "\eca9";
$light-paste: "\ecaa";
$light-pause: "\ecab";
$light-pause-circle: "\ecac";
$light-paw: "\ecad";
$light-paw-alt: "\ecae";
$light-paw-claws: "\ecaf";
$light-peace: "\ecb0";
$light-pegasus: "\ecb1";
$light-pen: "\ecb2";
$light-pen-alt: "\ecb3";
$light-pencil: "\ecb4";
$light-pencil-alt: "\ecb5";
$light-pencil-paintbrush: "\ecb6";
$light-pencil-ruler: "\ecb7";
$light-pen-fancy: "\ecb8";
$light-pennant: "\ecb9";
$light-pen-nib: "\ecba";
$light-pen-square: "\ecbb";
$light-people-carry: "\ecbc";
$light-percent: "\ecbd";
$light-percentage: "\ecbe";
$light-person-booth: "\ecbf";
$light-person-carry: "\ecc0";
$light-person-dolly: "\ecc1";
$light-person-dolly-empty: "\ecc2";
$light-person-sign: "\ecc3";
$light-phone: "\ecc4";
$light-phone-office: "\ecc5";
$light-phone-plus: "\ecc6";
$light-phone-slash: "\ecc7";
$light-phone-square: "\ecc8";
$light-phone-volume: "\ecc9";
$light-pi: "\ecca";
$light-pie: "\eccb";
$light-pig: "\eccc";
$light-piggy-bank: "\eccd";
$light-pills: "\ecce";
$light-place-of-worship: "\eccf";
$light-plane: "\ecd0";
$light-plane-alt: "\ecd1";
$light-plane-arrival: "\ecd2";
$light-plane-departure: "\ecd3";
$light-play: "\ecd4";
$light-play-circle: "\ecd5";
$light-plug: "\ecd6";
$light-plus: "\ecd7";
$light-plus-circle: "\ecd8";
$light-plus-hexagon: "\ecd9";
$light-plus-octagon: "\ecda";
$light-plus-square: "\ecdb";
$light-podcast: "\ecdc";
$light-podium: "\ecdd";
$light-podium-star: "\ecde";
$light-poll: "\ecdf";
$light-poll-h: "\ece0";
$light-poll-people: "\ece1";
$light-poo: "\ece2";
$light-poop: "\ece3";
$light-poo-storm: "\ece4";
$light-portrait: "\ece5";
$light-pound-sign: "\ece6";
$light-power-off: "\ece7";
$light-pray: "\ece8";
$light-praying-hands: "\ece9";
$light-prescription: "\ecea";
$light-prescription-bottle: "\eceb";
$light-prescription-bottle-alt: "\ecec";
$light-presentation: "\eced";
$light-print: "\ecee";
$light-print-slash: "\ecef";
$light-procedures: "\ecf0";
$light-project-diagram: "\ecf1";
$light-pumpkin: "\ecf2";
$light-puzzle-piece: "\ecf3";
$light-qrcode: "\ecf4";
$light-question: "\ecf5";
$light-question-circle: "\ecf6";
$light-question-square: "\ecf7";
$light-quidditch: "\ecf8";
$light-quote-left: "\ecf9";
$light-quote-right: "\ecfa";
$light-quran: "\ecfb";
$light-rabbit: "\ecfc";
$light-rabbit-fast: "\ecfd";
$light-racquet: "\ecfe";
$light-radiation: "\ecff";
$light-radiation-alt: "\ed00";
$light-rainbow: "\ed01";
$light-raindrops: "\ed02";
$light-ram: "\ed03";
$light-ramp-loading: "\ed04";
$light-random: "\ed05";
$light-receipt: "\ed06";
$light-rectangle-landscape: "\ed07";
$light-rectangle-portrait: "\ed08";
$light-rectangle-wide: "\ed09";
$light-recycle: "\ed0a";
$light-redo: "\ed0b";
$light-redo-alt: "\ed0c";
$light-registered: "\ed0d";
$light-repeat: "\ed0e";
$light-repeat-1: "\ed0f";
$light-repeat-1-alt: "\ed10";
$light-repeat-alt: "\ed11";
$light-reply: "\ed12";
$light-reply-all: "\ed13";
$light-republican: "\ed14";
$light-restroom: "\ed15";
$light-retweet: "\ed16";
$light-retweet-alt: "\ed17";
$light-ribbon: "\ed18";
$light-ring: "\ed19";
$light-road: "\ed1a";
$light-robot: "\ed1b";
$light-rocket: "\ed1c";
$light-route: "\ed1d";
$light-route-highway: "\ed1e";
$light-route-interstate: "\ed1f";
$light-rss: "\ed20";
$light-rss-square: "\ed21";
$light-ruble-sign: "\ed22";
$light-ruler: "\ed23";
$light-ruler-combined: "\ed24";
$light-ruler-horizontal: "\ed25";
$light-ruler-triangle: "\ed26";
$light-ruler-vertical: "\ed27";
$light-running: "\ed28";
$light-rupee-sign: "\ed29";
$light-rv: "\ed2a";
$light-sad-cry: "\ed2b";
$light-sad-tear: "\ed2c";
$light-satellite: "\ed2d";
$light-satellite-dish: "\ed2e";
$light-save: "\ed2f";
$light-scalpel: "\ed30";
$light-scalpel-path: "\ed31";
$light-scanner: "\ed32";
$light-scanner-keyboard: "\ed33";
$light-scanner-touchscreen: "\ed34";
$light-scarecrow: "\ed35";
$light-scarf: "\ed36";
$light-school: "\ed37";
$light-screwdriver: "\ed38";
$light-scroll: "\ed39";
$light-scroll-old: "\ed3a";
$light-scrubber: "\ed3b";
$light-scythe: "\ed3c";
$light-sd-card: "\ed3d";
$light-search: "\ed3e";
$light-search-dollar: "\ed3f";
$light-search-location: "\ed40";
$light-search-minus: "\ed41";
$light-search-plus: "\ed42";
$light-seedling: "\ed43";
$light-server: "\ed44";
$light-shapes: "\ed45";
$light-share: "\ed46";
$light-share-all: "\ed47";
$light-share-alt: "\ed48";
$light-share-alt-square: "\ed49";
$light-share-square: "\ed4a";
$light-sheep: "\ed4b";
$light-shekel-sign: "\ed4c";
$light-shield: "\ed4d";
$light-shield-alt: "\ed4e";
$light-shield-check: "\ed4f";
$light-shield-cross: "\ed50";
$light-ship: "\ed51";
$light-shipping-fast: "\ed52";
$light-shipping-timed: "\ed53";
$light-shoe-prints: "\ed54";
$light-shopping-bag: "\ed55";
$light-shopping-basket: "\ed56";
$light-shopping-cart: "\ed57";
$light-shovel: "\ed58";
$light-shovel-snow: "\ed59";
$light-shower: "\ed5a";
$light-shredder: "\ed5b";
$light-shuttlecock: "\ed5c";
$light-shuttle-van: "\ed5d";
$light-sigma: "\ed5e";
$light-sign: "\ed5f";
$light-signal: "\ed60";
$light-signal-1: "\ed61";
$light-signal-2: "\ed62";
$light-signal-3: "\ed63";
$light-signal-4: "\ed64";
$light-signal-alt: "\ed65";
$light-signal-alt-1: "\ed66";
$light-signal-alt-2: "\ed67";
$light-signal-alt-3: "\ed68";
$light-signal-alt-slash: "\ed69";
$light-signal-slash: "\ed6a";
$light-signature: "\ed6b";
$light-sign-in: "\ed6c";
$light-sign-in-alt: "\ed6d";
$light-sign-language: "\ed6e";
$light-sign-out: "\ed6f";
$light-sign-out-alt: "\ed70";
$light-sim-card: "\ed71";
$light-sitemap: "\ed72";
$light-skating: "\ed73";
$light-skeleton: "\ed74";
$light-skiing: "\ed75";
$light-skiing-nordic: "\ed76";
$light-ski-jump: "\ed77";
$light-ski-lift: "\ed78";
$light-skull: "\ed79";
$light-skull-crossbones: "\ed7a";
$light-slash: "\ed7b";
$light-sledding: "\ed7c";
$light-sleigh: "\ed7d";
$light-sliders-h: "\ed7e";
$light-sliders-h-square: "\ed7f";
$light-sliders-v: "\ed80";
$light-sliders-v-square: "\ed81";
$light-smile: "\ed82";
$light-smile-beam: "\ed83";
$light-smile-plus: "\ed84";
$light-smile-wink: "\ed85";
$light-smog: "\ed86";
$light-smoke: "\ed87";
$light-smoking: "\ed88";
$light-smoking-ban: "\ed89";
$light-sms: "\ed8a";
$light-snake: "\ed8b";
$light-snow-blowing: "\ed8c";
$light-snowboarding: "\ed8d";
$light-snowflake: "\ed8e";
$light-snowflakes: "\ed8f";
$light-snowman: "\ed90";
$light-snowmobile: "\ed91";
$light-snowplow: "\ed92";
$light-socks: "\ed93";
$light-solar-panel: "\ed94";
$light-sort: "\ed95";
$light-sort-alpha-down: "\ed96";
$light-sort-alpha-up: "\ed97";
$light-sort-amount-down: "\ed98";
$light-sort-amount-up: "\ed99";
$light-sort-down: "\ed9a";
$light-sort-numeric-down: "\ed9b";
$light-sort-numeric-up: "\ed9c";
$light-sort-up: "\ed9d";
$light-spa: "\ed9e";
$light-space-shuttle: "\ed9f";
$light-spade: "\eda0";
$light-spider: "\eda1";
$light-spider-black-widow: "\eda2";
$light-spider-web: "\eda3";
$light-spinner: "\eda4";
$light-spinner-third: "\eda5";
$light-splotch: "\eda6";
$light-spray-can: "\eda7";
$light-square: "\eda8";
$light-square-full: "\eda9";
$light-square-root: "\edaa";
$light-square-root-alt: "\edab";
$light-squirrel: "\edac";
$light-staff: "\edad";
$light-stamp: "\edae";
$light-star: "\edaf";
$light-star-and-crescent: "\edb0";
$light-star-christmas: "\edb1";
$light-star-exclamation: "\edb2";
$light-star-half: "\edb3";
$light-star-half-alt: "\edb4";
$light-star-of-david: "\edb5";
$light-star-of-life: "\edb6";
$light-stars: "\edb7";
$light-steering-wheel: "\edb8";
$light-step-backward: "\edb9";
$light-step-forward: "\edba";
$light-stethoscope: "\edbb";
$light-sticky-note: "\edbc";
$light-stocking: "\edbd";
$light-stomach: "\edbe";
$light-stop: "\edbf";
$light-stop-circle: "\edc0";
$light-stopwatch: "\edc1";
$light-store: "\edc2";
$light-store-alt: "\edc3";
$light-stream: "\edc4";
$light-street-view: "\edc5";
$light-strikethrough: "\edc6";
$light-stroopwafel: "\edc7";
$light-subscript: "\edc8";
$light-subway: "\edc9";
$light-suitcase: "\edca";
$light-suitcase-rolling: "\edcb";
$light-sun: "\edcc";
$light-sun-cloud: "\edcd";
$light-sun-dust: "\edce";
$light-sun-haze: "\edcf";
$light-sunrise: "\edd0";
$light-sunset: "\edd1";
$light-superscript: "\edd2";
$light-surprise: "\edd3";
$light-swatchbook: "\edd4";
$light-swimmer: "\edd5";
$light-swimming-pool: "\edd6";
$light-sword: "\edd7";
$light-swords: "\edd8";
$light-synagogue: "\edd9";
$light-sync: "\edda";
$light-sync-alt: "\eddb";
$light-syringe: "\eddc";
$light-table: "\eddd";
$light-tablet: "\edde";
$light-tablet-alt: "\eddf";
$light-tablet-android: "\ede0";
$light-tablet-android-alt: "\ede1";
$light-table-tennis: "\ede2";
$light-tablet-rugged: "\ede3";
$light-tablets: "\ede4";
$light-tachometer: "\ede5";
$light-tachometer-alt: "\ede6";
$light-tachometer-alt-average: "\ede7";
$light-tachometer-alt-fast: "\ede8";
$light-tachometer-alt-fastest: "\ede9";
$light-tachometer-alt-slow: "\edea";
$light-tachometer-alt-slowest: "\edeb";
$light-tachometer-average: "\edec";
$light-tachometer-fast: "\eded";
$light-tachometer-fastest: "\edee";
$light-tachometer-slow: "\edef";
$light-tachometer-slowest: "\edf0";
$light-tag: "\edf1";
$light-tags: "\edf2";
$light-tally: "\edf3";
$light-tape: "\edf4";
$light-tasks: "\edf5";
$light-taxi: "\edf6";
$light-teeth: "\edf7";
$light-teeth-open: "\edf8";
$light-temperature-frigid: "\edf9";
$light-temperature-high: "\edfa";
$light-temperature-hot: "\edfb";
$light-temperature-low: "\edfc";
$light-tenge: "\edfd";
$light-tennis-ball: "\edfe";
$light-terminal: "\edff";
$light-text-height: "\ee00";
$light-text-width: "\ee01";
$light-th: "\ee02";
$light-theater-masks: "\ee03";
$light-thermometer: "\ee04";
$light-thermometer-empty: "\ee05";
$light-thermometer-full: "\ee06";
$light-thermometer-half: "\ee07";
$light-thermometer-quarter: "\ee08";
$light-thermometer-three-quarters: "\ee09";
$light-theta: "\ee0a";
$light-th-large: "\ee0b";
$light-th-list: "\ee0c";
$light-thumbs-down: "\ee0d";
$light-thumbs-up: "\ee0e";
$light-thumbtack: "\ee0f";
$light-thunderstorm: "\ee10";
$light-thunderstorm-moon: "\ee11";
$light-thunderstorm-sun: "\ee12";
$light-ticket: "\ee13";
$light-ticket-alt: "\ee14";
$light-tilde: "\ee15";
$light-times: "\ee16";
$light-times-circle: "\ee17";
$light-times-hexagon: "\ee18";
$light-times-octagon: "\ee19";
$light-times-square: "\ee1a";
$light-tint: "\ee1b";
$light-tint-slash: "\ee1c";
$light-tire: "\ee1d";
$light-tired: "\ee1e";
$light-tire-flat: "\ee1f";
$light-tire-pressure-warning: "\ee20";
$light-tire-rugged: "\ee21";
$light-toggle-off: "\ee22";
$light-toggle-on: "\ee23";
$light-toilet: "\ee24";
$light-toilet-paper: "\ee25";
$light-toilet-paper-alt: "\ee26";
$light-tombstone: "\ee27";
$light-tombstone-alt: "\ee28";
$light-toolbox: "\ee29";
$light-tools: "\ee2a";
$light-tooth: "\ee2b";
$light-toothbrush: "\ee2c";
$light-torah: "\ee2d";
$light-torii-gate: "\ee2e";
$light-tornado: "\ee2f";
$light-tractor: "\ee30";
$light-trademark: "\ee31";
$light-traffic-cone: "\ee32";
$light-traffic-light: "\ee33";
$light-traffic-light-go: "\ee34";
$light-traffic-light-slow: "\ee35";
$light-traffic-light-stop: "\ee36";
$light-train: "\ee37";
$light-tram: "\ee38";
$light-transgender: "\ee39";
$light-transgender-alt: "\ee3a";
$light-trash: "\ee3b";
$light-trash-alt: "\ee3c";
$light-treasure-chest: "\ee3d";
$light-tree: "\ee3e";
$light-tree-alt: "\ee3f";
$light-tree-christmas: "\ee40";
$light-tree-decorated: "\ee41";
$light-tree-large: "\ee42";
$light-trees: "\ee43";
$light-triangle: "\ee44";
$light-trophy: "\ee45";
$light-trophy-alt: "\ee46";
$light-truck: "\ee47";
$light-truck-container: "\ee48";
$light-truck-couch: "\ee49";
$light-truck-loading: "\ee4a";
$light-truck-monster: "\ee4b";
$light-truck-moving: "\ee4c";
$light-truck-pickup: "\ee4d";
$light-truck-plow: "\ee4e";
$light-truck-ramp: "\ee4f";
$light-tshirt: "\ee50";
$light-tty: "\ee51";
$light-turkey: "\ee52";
$light-turtle: "\ee53";
$light-tv: "\ee54";
$light-tv-retro: "\ee55";
$light-umbrella: "\ee56";
$light-umbrella-beach: "\ee57";
$light-underline: "\ee58";
$light-undo: "\ee59";
$light-undo-alt: "\ee5a";
$light-unicorn: "\ee5b";
$light-union: "\ee5c";
$light-universal-access: "\ee5d";
$light-university: "\ee5e";
$light-unlink: "\ee5f";
$light-unlock: "\ee60";
$light-unlock-alt: "\ee61";
$light-upload: "\ee62";
$light-usd-circle: "\ee63";
$light-usd-square: "\ee64";
$light-user: "\ee65";
$light-user-alt: "\ee66";
$light-user-alt-slash: "\ee67";
$light-user-astronaut: "\ee68";
$light-user-chart: "\ee69";
$light-user-check: "\ee6a";
$light-user-circle: "\ee6b";
$light-user-clock: "\ee6c";
$light-user-cog: "\ee6d";
$light-user-crown: "\ee6e";
$light-user-edit: "\ee6f";
$light-user-friends: "\ee70";
$light-user-graduate: "\ee71";
$light-user-injured: "\ee72";
$light-user-lock: "\ee73";
$light-user-md: "\ee74";
$light-user-minus: "\ee75";
$light-user-ninja: "\ee76";
$light-user-plus: "\ee77";
$light-users: "\ee78";
$light-users-class: "\ee79";
$light-users-cog: "\ee7a";
$light-users-crown: "\ee7b";
$light-user-secret: "\ee7c";
$light-user-shield: "\ee7d";
$light-user-slash: "\ee7e";
$light-user-tag: "\ee7f";
$light-user-tie: "\ee80";
$light-user-times: "\ee81";
$light-utensil-fork: "\ee82";
$light-utensil-knife: "\ee83";
$light-utensils: "\ee84";
$light-utensils-alt: "\ee85";
$light-utensil-spoon: "\ee86";
$light-value-absolute: "\ee87";
$light-vector-square: "\ee88";
$light-venus: "\ee89";
$light-venus-double: "\ee8a";
$light-venus-mars: "\ee8b";
$light-vial: "\ee8c";
$light-vials: "\ee8d";
$light-video: "\ee8e";
$light-video-plus: "\ee8f";
$light-video-slash: "\ee90";
$light-vihara: "\ee91";
$light-volcano: "\ee92";
$light-volleyball-ball: "\ee93";
$light-volume: "\ee94";
$light-volume-down: "\ee95";
$light-volume-mute: "\ee96";
$light-volume-off: "\ee97";
$light-volume-slash: "\ee98";
$light-volume-up: "\ee99";
$light-vote-nay: "\ee9a";
$light-vote-yea: "\ee9b";
$light-vr-cardboard: "\ee9c";
$light-walking: "\ee9d";
$light-wallet: "\ee9e";
$light-wand: "\ee9f";
$light-wand-magic: "\eea0";
$light-warehouse: "\eea1";
$light-warehouse-alt: "\eea2";
$light-watch: "\eea3";
$light-watch-fitness: "\eea4";
$light-water: "\eea5";
$light-water-lower: "\eea6";
$light-water-rise: "\eea7";
$light-weight: "\eea8";
$light-weight-hanging: "\eea9";
$light-whale: "\eeaa";
$light-wheat: "\eeab";
$light-wheelchair: "\eeac";
$light-whistle: "\eead";
$light-wifi: "\eeae";
$light-wifi-1: "\eeaf";
$light-wifi-2: "\eeb0";
$light-wifi-slash: "\eeb1";
$light-wind: "\eeb2";
$light-window: "\eeb3";
$light-window-alt: "\eeb4";
$light-window-close: "\eeb5";
$light-window-maximize: "\eeb6";
$light-window-minimize: "\eeb7";
$light-window-restore: "\eeb8";
$light-windsock: "\eeb9";
$light-wind-warning: "\eeba";
$light-wine-bottle: "\eebb";
$light-wine-glass: "\eebc";
$light-wine-glass-alt: "\eebd";
$light-won-sign: "\eebe";
$light-wreath: "\eebf";
$light-wrench: "\eec0";
$light-x-ray: "\eec1";
$light-yen-sign: "\eec2";
$light-yin-yang: "\eec3";

