<template>
    <bulma-nav fix="top" color="primary" nav-height="55px">
        <template slot="brand">

            <nuxt-link :to="localePath('')" exact>
                <logo :color="['#10679E','#dedaa1']" height="50px"></logo>
            </nuxt-link>
        </template>
        <template slot="start">
            <nuxt-link class="navbar-item" :to="localePath('master')">{{$t('master')}}</nuxt-link>
        </template>
        <template slot="end">
            <a href="/features" class="navbar-item">
                Features
            </a> <a href="/pricing" class="navbar-item">
            Pricing
        </a> <a href="/blog/" class="navbar-item">
            Blog
        </a>
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a href="/login" class="button is-primary is-outlined">Login</a>
                    </p>
                    <p class="control">
                        <a href="/pricing" class="button is-success is-outlined">Signup</a>
                    </p>
                </div>
            </div>
            <div class="navbar-item" v-if="!$store.state.isOnline">
                <span class="icon has-text-warning has-tooltip is-tooltip-left" data-tooltip="Không có kết nối mạng">
                  <i class="icon-regular engine-warning flashit"></i>
                </span>
            </div>
        </template>
    </bulma-nav>
</template>

<script>
    import Logo from './Logo'

    export default {
        name: 'app-nav',
        components: {Logo}
    }
</script>

<style scoped>

</style>
