$font-family-regular: "gds-icon-regular" !default;

$regular-abacus: "\e900";
$regular-acorn: "\e901";
$regular-ad: "\e902";
$regular-address-book: "\e903";
$regular-address-card: "\e904";
$regular-adjust: "\e905";
$regular-air-freshener: "\e906";
$regular-alarm-clock: "\e907";
$regular-alicorn: "\e908";
$regular-align-center: "\e909";
$regular-align-justify: "\e90a";
$regular-align-left: "\e90b";
$regular-align-right: "\e90c";
$regular-allergies: "\e90d";
$regular-ambulance: "\e90e";
$regular-american-sign-language-interpreting: "\e90f";
$regular-analytics: "\e910";
$regular-anchor: "\e911";
$regular-angel: "\e912";
$regular-angle-double-down: "\e913";
$regular-angle-double-left: "\e914";
$regular-angle-double-right: "\e915";
$regular-angle-double-up: "\e916";
$regular-angle-down: "\e917";
$regular-angle-left: "\e918";
$regular-angle-right: "\e919";
$regular-angle-up: "\e91a";
$regular-angry: "\e91b";
$regular-ankh: "\e91c";
$regular-apple-alt: "\e91d";
$regular-apple-crate: "\e91e";
$regular-archive: "\e91f";
$regular-archway: "\e920";
$regular-arrow-alt-circle-down: "\e921";
$regular-arrow-alt-circle-left: "\e922";
$regular-arrow-alt-circle-right: "\e923";
$regular-arrow-alt-circle-up: "\e924";
$regular-arrow-alt-down: "\e925";
$regular-arrow-alt-from-bottom: "\e926";
$regular-arrow-alt-from-left: "\e927";
$regular-arrow-alt-from-right: "\e928";
$regular-arrow-alt-from-top: "\e929";
$regular-arrow-alt-left: "\e92a";
$regular-arrow-alt-right: "\e92b";
$regular-arrow-alt-square-down: "\e92c";
$regular-arrow-alt-square-left: "\e92d";
$regular-arrow-alt-square-right: "\e92e";
$regular-arrow-alt-square-up: "\e92f";
$regular-arrow-alt-to-bottom: "\e930";
$regular-arrow-alt-to-left: "\e931";
$regular-arrow-alt-to-right: "\e932";
$regular-arrow-alt-to-top: "\e933";
$regular-arrow-alt-up: "\e934";
$regular-arrow-circle-down: "\e935";
$regular-arrow-circle-left: "\e936";
$regular-arrow-circle-right: "\e937";
$regular-arrow-circle-up: "\e938";
$regular-arrow-down: "\e939";
$regular-arrow-from-bottom: "\e93a";
$regular-arrow-from-left: "\e93b";
$regular-arrow-from-right: "\e93c";
$regular-arrow-from-top: "\e93d";
$regular-arrow-left: "\e93e";
$regular-arrow-right: "\e93f";
$regular-arrows: "\e940";
$regular-arrows-alt: "\e941";
$regular-arrows-alt-h: "\e942";
$regular-arrows-alt-v: "\e943";
$regular-arrows-h: "\e944";
$regular-arrow-square-down: "\e945";
$regular-arrow-square-left: "\e946";
$regular-arrow-square-right: "\e947";
$regular-arrow-square-up: "\e948";
$regular-arrows-v: "\e949";
$regular-arrow-to-bottom: "\e94a";
$regular-arrow-to-left: "\e94b";
$regular-arrow-to-right: "\e94c";
$regular-arrow-to-top: "\e94d";
$regular-arrow-up: "\e94e";
$regular-assistive-listening-systems: "\e94f";
$regular-asterisk: "\e950";
$regular-at: "\e951";
$regular-atlas: "\e952";
$regular-atom: "\e953";
$regular-atom-alt: "\e954";
$regular-audio-description: "\e955";
$regular-award: "\e956";
$regular-axe: "\e957";
$regular-axe-battle: "\e958";
$regular-baby: "\e959";
$regular-baby-carriage: "\e95a";
$regular-backpack: "\e95b";
$regular-backspace: "\e95c";
$regular-backward: "\e95d";
$regular-badge: "\e95e";
$regular-badge-check: "\e95f";
$regular-badge-dollar: "\e960";
$regular-badge-percent: "\e961";
$regular-badger-honey: "\e962";
$regular-balance-scale: "\e963";
$regular-balance-scale-left: "\e964";
$regular-balance-scale-right: "\e965";
$regular-ballot: "\e966";
$regular-ballot-check: "\e967";
$regular-ball-pile: "\e968";
$regular-ban: "\e969";
$regular-band-aid: "\e96a";
$regular-barcode: "\e96b";
$regular-barcode-alt: "\e96c";
$regular-barcode-read: "\e96d";
$regular-barcode-scan: "\e96e";
$regular-bars: "\e96f";
$regular-baseball: "\e970";
$regular-baseball-ball: "\e971";
$regular-basketball-ball: "\e972";
$regular-basketball-hoop: "\e973";
$regular-bat: "\e974";
$regular-bath: "\e975";
$regular-battery-bolt: "\e976";
$regular-battery-empty: "\e977";
$regular-battery-full: "\e978";
$regular-battery-half: "\e979";
$regular-battery-quarter: "\e97a";
$regular-battery-slash: "\e97b";
$regular-battery-three-quarters: "\e97c";
$regular-bed: "\e97d";
$regular-beer: "\e97e";
$regular-bell: "\e97f";
$regular-bells: "\e980";
$regular-bell-school: "\e981";
$regular-bell-school-slash: "\e982";
$regular-bell-slash: "\e983";
$regular-bezier-curve: "\e984";
$regular-bible: "\e985";
$regular-bicycle: "\e986";
$regular-binoculars: "\e987";
$regular-biohazard: "\e988";
$regular-birthday-cake: "\e989";
$regular-blanket: "\e98a";
$regular-blender: "\e98b";
$regular-blender-phone: "\e98c";
$regular-blind: "\e98d";
$regular-blog: "\e98e";
$regular-bold: "\e98f";
$regular-bolt: "\e990";
$regular-bomb: "\e991";
$regular-bone: "\e992";
$regular-bone-break: "\e993";
$regular-bong: "\e994";
$regular-book: "\e995";
$regular-book-alt: "\e996";
$regular-book-dead: "\e997";
$regular-book-heart: "\e998";
$regular-bookmark: "\e999";
$regular-book-open: "\e99a";
$regular-book-reader: "\e99b";
$regular-books: "\e99c";
$regular-book-spells: "\e99d";
$regular-boot: "\e99e";
$regular-booth-curtain: "\e99f";
$regular-bow-arrow: "\e9a0";
$regular-bowling-ball: "\e9a1";
$regular-bowling-pins: "\e9a2";
$regular-box: "\e9a3";
$regular-box-alt: "\e9a4";
$regular-box-ballot: "\e9a5";
$regular-box-check: "\e9a6";
$regular-boxes: "\e9a7";
$regular-boxes-alt: "\e9a8";
$regular-box-fragile: "\e9a9";
$regular-box-full: "\e9aa";
$regular-box-heart: "\e9ab";
$regular-boxing-glove: "\e9ac";
$regular-box-open: "\e9ad";
$regular-box-up: "\e9ae";
$regular-box-usd: "\e9af";
$regular-braille: "\e9b0";
$regular-brain: "\e9b1";
$regular-briefcase: "\e9b2";
$regular-briefcase-medical: "\e9b3";
$regular-broadcast-tower: "\e9b4";
$regular-broom: "\e9b5";
$regular-browser: "\e9b6";
$regular-brush: "\e9b7";
$regular-bug: "\e9b8";
$regular-building: "\e9b9";
$regular-bullhorn: "\e9ba";
$regular-bullseye: "\e9bb";
$regular-bullseye-arrow: "\e9bc";
$regular-bullseye-pointer: "\e9bd";
$regular-burn: "\e9be";
$regular-bus: "\e9bf";
$regular-bus-alt: "\e9c0";
$regular-business-time: "\e9c1";
$regular-bus-school: "\e9c2";
$regular-cabinet-filing: "\e9c3";
$regular-calculator: "\e9c4";
$regular-calculator-alt: "\e9c5";
$regular-calendar: "\e9c6";
$regular-calendar-alt: "\e9c7";
$regular-calendar-check: "\e9c8";
$regular-calendar-day: "\e9c9";
$regular-calendar-edit: "\e9ca";
$regular-calendar-exclamation: "\e9cb";
$regular-calendar-minus: "\e9cc";
$regular-calendar-plus: "\e9cd";
$regular-calendar-star: "\e9ce";
$regular-calendar-times: "\e9cf";
$regular-calendar-week: "\e9d0";
$regular-camera: "\e9d1";
$regular-camera-alt: "\e9d2";
$regular-camera-retro: "\e9d3";
$regular-campfire: "\e9d4";
$regular-campground: "\e9d5";
$regular-candle-holder: "\e9d6";
$regular-candy-cane: "\e9d7";
$regular-candy-corn: "\e9d8";
$regular-cannabis: "\e9d9";
$regular-capsules: "\e9da";
$regular-car: "\e9db";
$regular-car-alt: "\e9dc";
$regular-car-battery: "\e9dd";
$regular-car-bump: "\e9de";
$regular-car-crash: "\e9df";
$regular-caret-circle-down: "\e9e0";
$regular-caret-circle-left: "\e9e1";
$regular-caret-circle-right: "\e9e2";
$regular-caret-circle-up: "\e9e3";
$regular-caret-down: "\e9e4";
$regular-caret-left: "\e9e5";
$regular-caret-right: "\e9e6";
$regular-caret-square-down: "\e9e7";
$regular-caret-square-left: "\e9e8";
$regular-caret-square-right: "\e9e9";
$regular-caret-square-up: "\e9ea";
$regular-caret-up: "\e9eb";
$regular-car-garage: "\e9ec";
$regular-car-mechanic: "\e9ed";
$regular-carrot: "\e9ee";
$regular-car-side: "\e9ef";
$regular-cart-arrow-down: "\e9f0";
$regular-car-tilt: "\e9f1";
$regular-cart-plus: "\e9f2";
$regular-car-wash: "\e9f3";
$regular-cash-register: "\e9f4";
$regular-cat: "\e9f5";
$regular-cauldron: "\e9f6";
$regular-certificate: "\e9f7";
$regular-chair: "\e9f8";
$regular-chair-office: "\e9f9";
$regular-chalkboard: "\e9fa";
$regular-chalkboard-teacher: "\e9fb";
$regular-charging-station: "\e9fc";
$regular-chart-area: "\e9fd";
$regular-chart-bar: "\e9fe";
$regular-chart-line: "\e9ff";
$regular-chart-line-down: "\ea00";
$regular-chart-network: "\ea01";
$regular-chart-pie: "\ea02";
$regular-chart-pie-alt: "\ea03";
$regular-check: "\ea04";
$regular-check-circle: "\ea05";
$regular-check-double: "\ea06";
$regular-check-square: "\ea07";
$regular-chess: "\ea08";
$regular-chess-bishop: "\ea09";
$regular-chess-bishop-alt: "\ea0a";
$regular-chess-board: "\ea0b";
$regular-chess-clock: "\ea0c";
$regular-chess-clock-alt: "\ea0d";
$regular-chess-king: "\ea0e";
$regular-chess-king-alt: "\ea0f";
$regular-chess-knight: "\ea10";
$regular-chess-knight-alt: "\ea11";
$regular-chess-pawn: "\ea12";
$regular-chess-pawn-alt: "\ea13";
$regular-chess-queen: "\ea14";
$regular-chess-queen-alt: "\ea15";
$regular-chess-rook: "\ea16";
$regular-chess-rook-alt: "\ea17";
$regular-chevron-circle-down: "\ea18";
$regular-chevron-circle-left: "\ea19";
$regular-chevron-circle-right: "\ea1a";
$regular-chevron-circle-up: "\ea1b";
$regular-chevron-double-down: "\ea1c";
$regular-chevron-double-left: "\ea1d";
$regular-chevron-double-right: "\ea1e";
$regular-chevron-double-up: "\ea1f";
$regular-chevron-down: "\ea20";
$regular-chevron-left: "\ea21";
$regular-chevron-right: "\ea22";
$regular-chevron-square-down: "\ea23";
$regular-chevron-square-left: "\ea24";
$regular-chevron-square-right: "\ea25";
$regular-chevron-square-up: "\ea26";
$regular-chevron-up: "\ea27";
$regular-child: "\ea28";
$regular-chimney: "\ea29";
$regular-church: "\ea2a";
$regular-circle: "\ea2b";
$regular-circle-notch: "\ea2c";
$regular-city: "\ea2d";
$regular-claw-marks: "\ea2e";
$regular-clipboard: "\ea2f";
$regular-clipboard-check: "\ea30";
$regular-clipboard-list: "\ea31";
$regular-clipboard-list-check: "\ea32";
$regular-clipboard-prescription: "\ea33";
$regular-clock: "\ea34";
$regular-clone: "\ea35";
$regular-closed-captioning: "\ea36";
$regular-cloud: "\ea37";
$regular-cloud-download: "\ea38";
$regular-cloud-download-alt: "\ea39";
$regular-cloud-drizzle: "\ea3a";
$regular-cloud-hail: "\ea3b";
$regular-cloud-hail-mixed: "\ea3c";
$regular-cloud-meatball: "\ea3d";
$regular-cloud-moon: "\ea3e";
$regular-cloud-moon-rain: "\ea3f";
$regular-cloud-rain: "\ea40";
$regular-cloud-rainbow: "\ea41";
$regular-clouds: "\ea42";
$regular-cloud-showers: "\ea43";
$regular-cloud-showers-heavy: "\ea44";
$regular-cloud-sleet: "\ea45";
$regular-clouds-moon: "\ea46";
$regular-cloud-snow: "\ea47";
$regular-clouds-sun: "\ea48";
$regular-cloud-sun: "\ea49";
$regular-cloud-sun-rain: "\ea4a";
$regular-cloud-upload: "\ea4b";
$regular-cloud-upload-alt: "\ea4c";
$regular-club: "\ea4d";
$regular-cocktail: "\ea4e";
$regular-code: "\ea4f";
$regular-code-branch: "\ea50";
$regular-code-commit: "\ea51";
$regular-code-merge: "\ea52";
$regular-coffee: "\ea53";
$regular-coffee-togo: "\ea54";
$regular-coffin: "\ea55";
$regular-cog: "\ea56";
$regular-cogs: "\ea57";
$regular-coins: "\ea58";
$regular-columns: "\ea59";
$regular-comment: "\ea5a";
$regular-comment-alt: "\ea5b";
$regular-comment-alt-check: "\ea5c";
$regular-comment-alt-dollar: "\ea5d";
$regular-comment-alt-dots: "\ea5e";
$regular-comment-alt-edit: "\ea5f";
$regular-comment-alt-exclamation: "\ea60";
$regular-comment-alt-lines: "\ea61";
$regular-comment-alt-minus: "\ea62";
$regular-comment-alt-plus: "\ea63";
$regular-comment-alt-slash: "\ea64";
$regular-comment-alt-smile: "\ea65";
$regular-comment-alt-times: "\ea66";
$regular-comment-check: "\ea67";
$regular-comment-dollar: "\ea68";
$regular-comment-dots: "\ea69";
$regular-comment-edit: "\ea6a";
$regular-comment-exclamation: "\ea6b";
$regular-comment-lines: "\ea6c";
$regular-comment-minus: "\ea6d";
$regular-comment-plus: "\ea6e";
$regular-comments: "\ea6f";
$regular-comments-alt: "\ea70";
$regular-comments-alt-dollar: "\ea71";
$regular-comments-dollar: "\ea72";
$regular-comment-slash: "\ea73";
$regular-comment-smile: "\ea74";
$regular-comment-times: "\ea75";
$regular-compact-disc: "\ea76";
$regular-compass: "\ea77";
$regular-compass-slash: "\ea78";
$regular-compress: "\ea79";
$regular-compress-alt: "\ea7a";
$regular-compress-arrows-alt: "\ea7b";
$regular-compress-wide: "\ea7c";
$regular-concierge-bell: "\ea7d";
$regular-container-storage: "\ea7e";
$regular-conveyor-belt: "\ea7f";
$regular-conveyor-belt-alt: "\ea80";
$regular-cookie: "\ea81";
$regular-cookie-bite: "\ea82";
$regular-copy: "\ea83";
$regular-copyright: "\ea84";
$regular-corn: "\ea85";
$regular-couch: "\ea86";
$regular-cow: "\ea87";
$regular-credit-card: "\ea88";
$regular-credit-card-blank: "\ea89";
$regular-credit-card-front: "\ea8a";
$regular-cricket: "\ea8b";
$regular-crop: "\ea8c";
$regular-crop-alt: "\ea8d";
$regular-cross: "\ea8e";
$regular-crosshairs: "\ea8f";
$regular-crow: "\ea90";
$regular-crown: "\ea91";
$regular-cube: "\ea92";
$regular-cubes: "\ea93";
$regular-curling: "\ea94";
$regular-cut: "\ea95";
$regular-dagger: "\ea96";
$regular-database: "\ea97";
$regular-deaf: "\ea98";
$regular-deer: "\ea99";
$regular-deer-rudolph: "\ea9a";
$regular-democrat: "\ea9b";
$regular-desktop: "\ea9c";
$regular-desktop-alt: "\ea9d";
$regular-dewpoint: "\ea9e";
$regular-dharmachakra: "\ea9f";
$regular-diagnoses: "\eaa0";
$regular-diamond: "\eaa1";
$regular-dice: "\eaa2";
$regular-dice-d4: "\eaa3";
$regular-dice-d6: "\eaa4";
$regular-dice-d8: "\eaa5";
$regular-dice-d10: "\eaa6";
$regular-dice-d12: "\eaa7";
$regular-dice-d20: "\eaa8";
$regular-dice-five: "\eaa9";
$regular-dice-four: "\eaaa";
$regular-dice-one: "\eaab";
$regular-dice-six: "\eaac";
$regular-dice-three: "\eaad";
$regular-dice-two: "\eaae";
$regular-digital-tachograph: "\eaaf";
$regular-diploma: "\eab0";
$regular-directions: "\eab1";
$regular-divide: "\eab2";
$regular-dizzy: "\eab3";
$regular-dna: "\eab4";
$regular-dog: "\eab5";
$regular-dog-leashed: "\eab6";
$regular-dollar-sign: "\eab7";
$regular-dolly: "\eab8";
$regular-dolly-empty: "\eab9";
$regular-dolly-flatbed: "\eaba";
$regular-dolly-flatbed-alt: "\eabb";
$regular-dolly-flatbed-empty: "\eabc";
$regular-donate: "\eabd";
$regular-do-not-enter: "\eabe";
$regular-door-closed: "\eabf";
$regular-door-open: "\eac0";
$regular-dot-circle: "\eac1";
$regular-dove: "\eac2";
$regular-download: "\eac3";
$regular-drafting-compass: "\eac4";
$regular-dragon: "\eac5";
$regular-draw-circle: "\eac6";
$regular-draw-polygon: "\eac7";
$regular-draw-square: "\eac8";
$regular-dreidel: "\eac9";
$regular-drum: "\eaca";
$regular-drum-steelpan: "\eacb";
$regular-drumstick: "\eacc";
$regular-drumstick-bite: "\eacd";
$regular-duck: "\eace";
$regular-dumbbell: "\eacf";
$regular-dumpster: "\ead0";
$regular-dumpster-fire: "\ead1";
$regular-dungeon: "\ead2";
$regular-ear: "\ead3";
$regular-ear-muffs: "\ead4";
$regular-eclipse: "\ead5";
$regular-eclipse-alt: "\ead6";
$regular-edit: "\ead7";
$regular-eject: "\ead8";
$regular-elephant: "\ead9";
$regular-ellipsis-h: "\eada";
$regular-ellipsis-h-alt: "\eadb";
$regular-ellipsis-v: "\eadc";
$regular-ellipsis-v-alt: "\eadd";
$regular-empty-set: "\eade";
$regular-engine-warning: "\eadf";
$regular-envelope: "\eae0";
$regular-envelope-open: "\eae1";
$regular-envelope-open-dollar: "\eae2";
$regular-envelope-open-text: "\eae3";
$regular-envelope-square: "\eae4";
$regular-equals: "\eae5";
$regular-eraser: "\eae6";
$regular-ethernet: "\eae7";
$regular-euro-sign: "\eae8";
$regular-exchange: "\eae9";
$regular-exchange-alt: "\eaea";
$regular-exclamation: "\eaeb";
$regular-exclamation-circle: "\eaec";
$regular-exclamation-square: "\eaed";
$regular-exclamation-triangle: "\eaee";
$regular-expand: "\eaef";
$regular-expand-alt: "\eaf0";
$regular-expand-arrows: "\eaf1";
$regular-expand-arrows-alt: "\eaf2";
$regular-expand-wide: "\eaf3";
$regular-external-link: "\eaf4";
$regular-external-link-alt: "\eaf5";
$regular-external-link-square: "\eaf6";
$regular-external-link-square-alt: "\eaf7";
$regular-eye: "\eaf8";
$regular-eye-dropper: "\eaf9";
$regular-eye-evil: "\eafa";
$regular-eye-slash: "\eafb";
$regular-fast-backward: "\eafc";
$regular-fast-forward: "\eafd";
$regular-fax: "\eafe";
$regular-feather: "\eaff";
$regular-feather-alt: "\eb00";
$regular-female: "\eb01";
$regular-field-hockey: "\eb02";
$regular-fighter-jet: "\eb03";
$regular-file: "\eb04";
$regular-file-alt: "\eb05";
$regular-file-archive: "\eb06";
$regular-file-audio: "\eb07";
$regular-file-certificate: "\eb08";
$regular-file-chart-line: "\eb09";
$regular-file-chart-pie: "\eb0a";
$regular-file-check: "\eb0b";
$regular-file-code: "\eb0c";
$regular-file-contract: "\eb0d";
$regular-file-csv: "\eb0e";
$regular-file-download: "\eb0f";
$regular-file-edit: "\eb10";
$regular-file-excel: "\eb11";
$regular-file-exclamation: "\eb12";
$regular-file-export: "\eb13";
$regular-file-image: "\eb14";
$regular-file-import: "\eb15";
$regular-file-invoice: "\eb16";
$regular-file-invoice-dollar: "\eb17";
$regular-file-medical: "\eb18";
$regular-file-medical-alt: "\eb19";
$regular-file-minus: "\eb1a";
$regular-file-pdf: "\eb1b";
$regular-file-plus: "\eb1c";
$regular-file-powerpoint: "\eb1d";
$regular-file-prescription: "\eb1e";
$regular-file-signature: "\eb1f";
$regular-file-spreadsheet: "\eb20";
$regular-file-times: "\eb21";
$regular-file-upload: "\eb22";
$regular-file-user: "\eb23";
$regular-file-video: "\eb24";
$regular-file-word: "\eb25";
$regular-fill: "\eb26";
$regular-fill-drip: "\eb27";
$regular-film: "\eb28";
$regular-film-alt: "\eb29";
$regular-filter: "\eb2a";
$regular-fingerprint: "\eb2b";
$regular-fire: "\eb2c";
$regular-fire-extinguisher: "\eb2d";
$regular-fireplace: "\eb2e";
$regular-fire-smoke: "\eb2f";
$regular-first-aid: "\eb30";
$regular-fish: "\eb31";
$regular-fist-raised: "\eb32";
$regular-flag: "\eb33";
$regular-flag-alt: "\eb34";
$regular-flag-checkered: "\eb35";
$regular-flag-usa: "\eb36";
$regular-flame: "\eb37";
$regular-flask: "\eb38";
$regular-flask-poison: "\eb39";
$regular-flask-potion: "\eb3a";
$regular-flushed: "\eb3b";
$regular-fog: "\eb3c";
$regular-folder: "\eb3d";
$regular-folder-minus: "\eb3e";
$regular-folder-open: "\eb3f";
$regular-folder-plus: "\eb40";
$regular-folders: "\eb41";
$regular-folder-times: "\eb42";
$regular-font: "\eb43";
$regular-football-ball: "\eb44";
$regular-football-helmet: "\eb45";
$regular-forklift: "\eb46";
$regular-forward: "\eb47";
$regular-fragile: "\eb48";
$regular-frog: "\eb49";
$regular-frosty-head: "\eb4a";
$regular-frown: "\eb4b";
$regular-frown-open: "\eb4c";
$regular-function: "\eb4d";
$regular-funnel-dollar: "\eb4e";
$regular-futbol: "\eb4f";
$regular-gamepad: "\eb50";
$regular-gas-pump: "\eb51";
$regular-gas-pump-slash: "\eb52";
$regular-gavel: "\eb53";
$regular-gem: "\eb54";
$regular-genderless: "\eb55";
$regular-ghost: "\eb56";
$regular-gift: "\eb57";
$regular-gift-card: "\eb58";
$regular-gifts: "\eb59";
$regular-gingerbread-man: "\eb5a";
$regular-glass-champagne: "\eb5b";
$regular-glass-cheers: "\eb5c";
$regular-glasses: "\eb5d";
$regular-glasses-alt: "\eb5e";
$regular-glass-martini: "\eb5f";
$regular-glass-martini-alt: "\eb60";
$regular-glass-whiskey: "\eb61";
$regular-glass-whiskey-rocks: "\eb62";
$regular-globe: "\eb63";
$regular-globe-africa: "\eb64";
$regular-globe-americas: "\eb65";
$regular-globe-asia: "\eb66";
$regular-globe-europe: "\eb67";
$regular-globe-snow: "\eb68";
$regular-globe-stand: "\eb69";
$regular-golf-ball: "\eb6a";
$regular-golf-club: "\eb6b";
$regular-gopuram: "\eb6c";
$regular-graduation-cap: "\eb6d";
$regular-greater-than: "\eb6e";
$regular-greater-than-equal: "\eb6f";
$regular-grimace: "\eb70";
$regular-grin: "\eb71";
$regular-grin-alt: "\eb72";
$regular-grin-beam: "\eb73";
$regular-grin-beam-sweat: "\eb74";
$regular-grin-hearts: "\eb75";
$regular-grin-squint: "\eb76";
$regular-grin-squint-tears: "\eb77";
$regular-grin-stars: "\eb78";
$regular-grin-tears: "\eb79";
$regular-grin-tongue: "\eb7a";
$regular-grin-tongue-squint: "\eb7b";
$regular-grin-tongue-wink: "\eb7c";
$regular-grin-wink: "\eb7d";
$regular-grip-horizontal: "\eb7e";
$regular-grip-lines: "\eb7f";
$regular-grip-lines-vertical: "\eb80";
$regular-grip-vertical: "\eb81";
$regular-guitar: "\eb82";
$regular-h1: "\eb83";
$regular-h2: "\eb84";
$regular-h3: "\eb85";
$regular-hammer: "\eb86";
$regular-hammer-war: "\eb87";
$regular-hamsa: "\eb88";
$regular-hand-heart: "\eb89";
$regular-hand-holding: "\eb8a";
$regular-hand-holding-box: "\eb8b";
$regular-hand-holding-heart: "\eb8c";
$regular-hand-holding-magic: "\eb8d";
$regular-hand-holding-seedling: "\eb8e";
$regular-hand-holding-usd: "\eb8f";
$regular-hand-holding-water: "\eb90";
$regular-hand-lizard: "\eb91";
$regular-hand-paper: "\eb92";
$regular-hand-peace: "\eb93";
$regular-hand-point-down: "\eb94";
$regular-hand-pointer: "\eb95";
$regular-hand-point-left: "\eb96";
$regular-hand-point-right: "\eb97";
$regular-hand-point-up: "\eb98";
$regular-hand-receiving: "\eb99";
$regular-hand-rock: "\eb9a";
$regular-hands: "\eb9b";
$regular-hand-scissors: "\eb9c";
$regular-handshake: "\eb9d";
$regular-handshake-alt: "\eb9e";
$regular-hands-heart: "\eb9f";
$regular-hands-helping: "\eba0";
$regular-hand-spock: "\eba1";
$regular-hands-usd: "\eba2";
$regular-hanukiah: "\eba3";
$regular-hashtag: "\eba4";
$regular-hat-santa: "\eba5";
$regular-hat-winter: "\eba6";
$regular-hat-witch: "\eba7";
$regular-hat-wizard: "\eba8";
$regular-haykal: "\eba9";
$regular-hdd: "\ebaa";
$regular-heading: "\ebab";
$regular-headphones: "\ebac";
$regular-headphones-alt: "\ebad";
$regular-headset: "\ebae";
$regular-head-side: "\ebaf";
$regular-head-vr: "\ebb0";
$regular-heart: "\ebb1";
$regular-heartbeat: "\ebb2";
$regular-heart-broken: "\ebb3";
$regular-heart-circle: "\ebb4";
$regular-heart-rate: "\ebb5";
$regular-heart-square: "\ebb6";
$regular-helicopter: "\ebb7";
$regular-helmet-battle: "\ebb8";
$regular-hexagon: "\ebb9";
$regular-highlighter: "\ebba";
$regular-hiking: "\ebbb";
$regular-hippo: "\ebbc";
$regular-history: "\ebbd";
$regular-hockey-mask: "\ebbe";
$regular-hockey-puck: "\ebbf";
$regular-hockey-sticks: "\ebc0";
$regular-holly-berry: "\ebc1";
$regular-home: "\ebc2";
$regular-home-heart: "\ebc3";
$regular-hood-cloak: "\ebc4";
$regular-horse: "\ebc5";
$regular-horse-head: "\ebc6";
$regular-hospital: "\ebc7";
$regular-hospital-alt: "\ebc8";
$regular-hospital-symbol: "\ebc9";
$regular-hotel: "\ebca";
$regular-hot-tub: "\ebcb";
$regular-hourglass: "\ebcc";
$regular-hourglass-end: "\ebcd";
$regular-hourglass-half: "\ebce";
$regular-hourglass-start: "\ebcf";
$regular-house-damage: "\ebd0";
$regular-house-flood: "\ebd1";
$regular-hryvnia: "\ebd2";
$regular-h-square: "\ebd3";
$regular-humidity: "\ebd4";
$regular-hurricane: "\ebd5";
$regular-ice-skate: "\ebd6";
$regular-icicles: "\ebd7";
$regular-i-cursor: "\ebd8";
$regular-id-badge: "\ebd9";
$regular-id-card: "\ebda";
$regular-id-card-alt: "\ebdb";
$regular-igloo: "\ebdc";
$regular-image: "\ebdd";
$regular-images: "\ebde";
$regular-inbox: "\ebdf";
$regular-inbox-in: "\ebe0";
$regular-inbox-out: "\ebe1";
$regular-indent: "\ebe2";
$regular-industry: "\ebe3";
$regular-industry-alt: "\ebe4";
$regular-infinity: "\ebe5";
$regular-info: "\ebe6";
$regular-info-circle: "\ebe7";
$regular-info-square: "\ebe8";
$regular-inhaler: "\ebe9";
$regular-integral: "\ebea";
$regular-intersection: "\ebeb";
$regular-inventory: "\ebec";
$regular-italic: "\ebed";
$regular-jack-o-lantern: "\ebee";
$regular-jedi: "\ebef";
$regular-joint: "\ebf0";
$regular-journal-whills: "\ebf1";
$regular-kaaba: "\ebf2";
$regular-key: "\ebf3";
$regular-keyboard: "\ebf4";
$regular-keynote: "\ebf5";
$regular-key-skeleton: "\ebf6";
$regular-khanda: "\ebf7";
$regular-kidneys: "\ebf8";
$regular-kiss: "\ebf9";
$regular-kiss-beam: "\ebfa";
$regular-kiss-wink-heart: "\ebfb";
$regular-kite: "\ebfc";
$regular-kiwi-bird: "\ebfd";
$regular-knife-kitchen: "\ebfe";
$regular-lambda: "\ebff";
$regular-lamp: "\ec00";
$regular-landmark: "\ec01";
$regular-landmark-alt: "\ec02";
$regular-language: "\ec03";
$regular-laptop: "\ec04";
$regular-laptop-code: "\ec05";
$regular-laugh: "\ec06";
$regular-laugh-beam: "\ec07";
$regular-laugh-squint: "\ec08";
$regular-laugh-wink: "\ec09";
$regular-layer-group: "\ec0a";
$regular-layer-minus: "\ec0b";
$regular-layer-plus: "\ec0c";
$regular-leaf: "\ec0d";
$regular-leaf-heart: "\ec0e";
$regular-leaf-maple: "\ec0f";
$regular-leaf-oak: "\ec10";
$regular-lemon: "\ec11";
$regular-less-than: "\ec12";
$regular-less-than-equal: "\ec13";
$regular-level-down: "\ec14";
$regular-level-down-alt: "\ec15";
$regular-level-up: "\ec16";
$regular-level-up-alt: "\ec17";
$regular-life-ring: "\ec18";
$regular-lightbulb: "\ec19";
$regular-lightbulb-dollar: "\ec1a";
$regular-lightbulb-exclamation: "\ec1b";
$regular-lightbulb-on: "\ec1c";
$regular-lightbulb-slash: "\ec1d";
$regular-lights-holiday: "\ec1e";
$regular-link: "\ec1f";
$regular-lips: "\ec20";
$regular-lira-sign: "\ec21";
$regular-list: "\ec22";
$regular-list-alt: "\ec23";
$regular-list-ol: "\ec24";
$regular-list-ul: "\ec25";
$regular-location: "\ec26";
$regular-location-arrow: "\ec27";
$regular-location-circle: "\ec28";
$regular-location-slash: "\ec29";
$regular-lock: "\ec2a";
$regular-lock-alt: "\ec2b";
$regular-lock-open: "\ec2c";
$regular-lock-open-alt: "\ec2d";
$regular-long-arrow-alt-down: "\ec2e";
$regular-long-arrow-alt-left: "\ec2f";
$regular-long-arrow-alt-right: "\ec30";
$regular-long-arrow-alt-up: "\ec31";
$regular-long-arrow-down: "\ec32";
$regular-long-arrow-left: "\ec33";
$regular-long-arrow-right: "\ec34";
$regular-long-arrow-up: "\ec35";
$regular-loveseat: "\ec36";
$regular-low-vision: "\ec37";
$regular-luchador: "\ec38";
$regular-luggage-cart: "\ec39";
$regular-lungs: "\ec3a";
$regular-mace: "\ec3b";
$regular-magic: "\ec3c";
$regular-magnet: "\ec3d";
$regular-mail-bulk: "\ec3e";
$regular-male: "\ec3f";
$regular-mandolin: "\ec40";
$regular-map: "\ec41";
$regular-map-marked: "\ec42";
$regular-map-marked-alt: "\ec43";
$regular-map-marker: "\ec44";
$regular-map-marker-alt: "\ec45";
$regular-map-marker-alt-slash: "\ec46";
$regular-map-marker-check: "\ec47";
$regular-map-marker-edit: "\ec48";
$regular-map-marker-exclamation: "\ec49";
$regular-map-marker-minus: "\ec4a";
$regular-map-marker-plus: "\ec4b";
$regular-map-marker-question: "\ec4c";
$regular-map-marker-slash: "\ec4d";
$regular-map-marker-smile: "\ec4e";
$regular-map-marker-times: "\ec4f";
$regular-map-pin: "\ec50";
$regular-map-signs: "\ec51";
$regular-marker: "\ec52";
$regular-mars: "\ec53";
$regular-mars-double: "\ec54";
$regular-mars-stroke: "\ec55";
$regular-mars-stroke-h: "\ec56";
$regular-mars-stroke-v: "\ec57";
$regular-mask: "\ec58";
$regular-medal: "\ec59";
$regular-medkit: "\ec5a";
$regular-megaphone: "\ec5b";
$regular-meh: "\ec5c";
$regular-meh-blank: "\ec5d";
$regular-meh-rolling-eyes: "\ec5e";
$regular-memory: "\ec5f";
$regular-menorah: "\ec60";
$regular-mercury: "\ec61";
$regular-meteor: "\ec62";
$regular-microchip: "\ec63";
$regular-microphone: "\ec64";
$regular-microphone-alt: "\ec65";
$regular-microphone-alt-slash: "\ec66";
$regular-microphone-slash: "\ec67";
$regular-microscope: "\ec68";
$regular-mind-share: "\ec69";
$regular-minus: "\ec6a";
$regular-minus-circle: "\ec6b";
$regular-minus-hexagon: "\ec6c";
$regular-minus-octagon: "\ec6d";
$regular-minus-square: "\ec6e";
$regular-mistletoe: "\ec6f";
$regular-mitten: "\ec70";
$regular-mobile: "\ec71";
$regular-mobile-alt: "\ec72";
$regular-mobile-android: "\ec73";
$regular-mobile-android-alt: "\ec74";
$regular-money-bill: "\ec75";
$regular-money-bill-alt: "\ec76";
$regular-money-bill-wave: "\ec77";
$regular-money-bill-wave-alt: "\ec78";
$regular-money-check: "\ec79";
$regular-money-check-alt: "\ec7a";
$regular-monitor-heart-rate: "\ec7b";
$regular-monkey: "\ec7c";
$regular-monument: "\ec7d";
$regular-moon: "\ec7e";
$regular-moon-cloud: "\ec7f";
$regular-moon-stars: "\ec80";
$regular-mortar-pestle: "\ec81";
$regular-mosque: "\ec82";
$regular-motorcycle: "\ec83";
$regular-mountain: "\ec84";
$regular-mountains: "\ec85";
$regular-mouse-pointer: "\ec86";
$regular-mug-hot: "\ec87";
$regular-mug-marshmallows: "\ec88";
$regular-music: "\ec89";
$regular-narwhal: "\ec8a";
$regular-network-wired: "\ec8b";
$regular-neuter: "\ec8c";
$regular-newspaper: "\ec8d";
$regular-not-equal: "\ec8e";
$regular-notes-medical: "\ec8f";
$regular-object-group: "\ec90";
$regular-object-ungroup: "\ec91";
$regular-octagon: "\ec92";
$regular-oil-can: "\ec93";
$regular-oil-temp: "\ec94";
$regular-om: "\ec95";
$regular-omega: "\ec96";
$regular-ornament: "\ec97";
$regular-otter: "\ec98";
$regular-outdent: "\ec99";
$regular-paint-brush: "\ec9a";
$regular-paint-brush-alt: "\ec9b";
$regular-paint-roller: "\ec9c";
$regular-palette: "\ec9d";
$regular-pallet: "\ec9e";
$regular-pallet-alt: "\ec9f";
$regular-paperclip: "\eca0";
$regular-paper-plane: "\eca1";
$regular-parachute-box: "\eca2";
$regular-paragraph: "\eca3";
$regular-parking: "\eca4";
$regular-parking-circle: "\eca5";
$regular-parking-circle-slash: "\eca6";
$regular-parking-slash: "\eca7";
$regular-passport: "\eca8";
$regular-pastafarianism: "\eca9";
$regular-paste: "\ecaa";
$regular-pause: "\ecab";
$regular-pause-circle: "\ecac";
$regular-paw: "\ecad";
$regular-paw-alt: "\ecae";
$regular-paw-claws: "\ecaf";
$regular-peace: "\ecb0";
$regular-pegasus: "\ecb1";
$regular-pen: "\ecb2";
$regular-pen-alt: "\ecb3";
$regular-pencil: "\ecb4";
$regular-pencil-alt: "\ecb5";
$regular-pencil-paintbrush: "\ecb6";
$regular-pencil-ruler: "\ecb7";
$regular-pen-fancy: "\ecb8";
$regular-pennant: "\ecb9";
$regular-pen-nib: "\ecba";
$regular-pen-square: "\ecbb";
$regular-people-carry: "\ecbc";
$regular-percent: "\ecbd";
$regular-percentage: "\ecbe";
$regular-person-booth: "\ecbf";
$regular-person-carry: "\ecc0";
$regular-person-dolly: "\ecc1";
$regular-person-dolly-empty: "\ecc2";
$regular-person-sign: "\ecc3";
$regular-phone: "\ecc4";
$regular-phone-office: "\ecc5";
$regular-phone-plus: "\ecc6";
$regular-phone-slash: "\ecc7";
$regular-phone-square: "\ecc8";
$regular-phone-volume: "\ecc9";
$regular-pi: "\ecca";
$regular-pie: "\eccb";
$regular-pig: "\eccc";
$regular-piggy-bank: "\eccd";
$regular-pills: "\ecce";
$regular-place-of-worship: "\eccf";
$regular-plane: "\ecd0";
$regular-plane-alt: "\ecd1";
$regular-plane-arrival: "\ecd2";
$regular-plane-departure: "\ecd3";
$regular-play: "\ecd4";
$regular-play-circle: "\ecd5";
$regular-plug: "\ecd6";
$regular-plus: "\ecd7";
$regular-plus-circle: "\ecd8";
$regular-plus-hexagon: "\ecd9";
$regular-plus-octagon: "\ecda";
$regular-plus-square: "\ecdb";
$regular-podcast: "\ecdc";
$regular-podium: "\ecdd";
$regular-podium-star: "\ecde";
$regular-poll: "\ecdf";
$regular-poll-h: "\ece0";
$regular-poll-people: "\ece1";
$regular-poo: "\ece2";
$regular-poop: "\ece3";
$regular-poo-storm: "\ece4";
$regular-portrait: "\ece5";
$regular-pound-sign: "\ece6";
$regular-power-off: "\ece7";
$regular-pray: "\ece8";
$regular-praying-hands: "\ece9";
$regular-prescription: "\ecea";
$regular-prescription-bottle: "\eceb";
$regular-prescription-bottle-alt: "\ecec";
$regular-presentation: "\eced";
$regular-print: "\ecee";
$regular-print-slash: "\ecef";
$regular-procedures: "\ecf0";
$regular-project-diagram: "\ecf1";
$regular-pumpkin: "\ecf2";
$regular-puzzle-piece: "\ecf3";
$regular-qrcode: "\ecf4";
$regular-question: "\ecf5";
$regular-question-circle: "\ecf6";
$regular-question-square: "\ecf7";
$regular-quidditch: "\ecf8";
$regular-quote-left: "\ecf9";
$regular-quote-right: "\ecfa";
$regular-quran: "\ecfb";
$regular-rabbit: "\ecfc";
$regular-rabbit-fast: "\ecfd";
$regular-racquet: "\ecfe";
$regular-radiation: "\ecff";
$regular-radiation-alt: "\ed00";
$regular-rainbow: "\ed01";
$regular-raindrops: "\ed02";
$regular-ram: "\ed03";
$regular-ramp-loading: "\ed04";
$regular-random: "\ed05";
$regular-receipt: "\ed06";
$regular-rectangle-landscape: "\ed07";
$regular-rectangle-portrait: "\ed08";
$regular-rectangle-wide: "\ed09";
$regular-recycle: "\ed0a";
$regular-redo: "\ed0b";
$regular-redo-alt: "\ed0c";
$regular-registered: "\ed0d";
$regular-repeat: "\ed0e";
$regular-repeat-1: "\ed0f";
$regular-repeat-1-alt: "\ed10";
$regular-repeat-alt: "\ed11";
$regular-reply: "\ed12";
$regular-reply-all: "\ed13";
$regular-republican: "\ed14";
$regular-restroom: "\ed15";
$regular-retweet: "\ed16";
$regular-retweet-alt: "\ed17";
$regular-ribbon: "\ed18";
$regular-ring: "\ed19";
$regular-road: "\ed1a";
$regular-robot: "\ed1b";
$regular-rocket: "\ed1c";
$regular-route: "\ed1d";
$regular-route-highway: "\ed1e";
$regular-route-interstate: "\ed1f";
$regular-rss: "\ed20";
$regular-rss-square: "\ed21";
$regular-ruble-sign: "\ed22";
$regular-ruler: "\ed23";
$regular-ruler-combined: "\ed24";
$regular-ruler-horizontal: "\ed25";
$regular-ruler-triangle: "\ed26";
$regular-ruler-vertical: "\ed27";
$regular-running: "\ed28";
$regular-rupee-sign: "\ed29";
$regular-rv: "\ed2a";
$regular-sad-cry: "\ed2b";
$regular-sad-tear: "\ed2c";
$regular-satellite: "\ed2d";
$regular-satellite-dish: "\ed2e";
$regular-save: "\ed2f";
$regular-scalpel: "\ed30";
$regular-scalpel-path: "\ed31";
$regular-scanner: "\ed32";
$regular-scanner-keyboard: "\ed33";
$regular-scanner-touchscreen: "\ed34";
$regular-scarecrow: "\ed35";
$regular-scarf: "\ed36";
$regular-school: "\ed37";
$regular-screwdriver: "\ed38";
$regular-scroll: "\ed39";
$regular-scroll-old: "\ed3a";
$regular-scrubber: "\ed3b";
$regular-scythe: "\ed3c";
$regular-sd-card: "\ed3d";
$regular-search: "\ed3e";
$regular-search-dollar: "\ed3f";
$regular-search-location: "\ed40";
$regular-search-minus: "\ed41";
$regular-search-plus: "\ed42";
$regular-seedling: "\ed43";
$regular-server: "\ed44";
$regular-shapes: "\ed45";
$regular-share: "\ed46";
$regular-share-all: "\ed47";
$regular-share-alt: "\ed48";
$regular-share-alt-square: "\ed49";
$regular-share-square: "\ed4a";
$regular-sheep: "\ed4b";
$regular-shekel-sign: "\ed4c";
$regular-shield: "\ed4d";
$regular-shield-alt: "\ed4e";
$regular-shield-check: "\ed4f";
$regular-shield-cross: "\ed50";
$regular-ship: "\ed51";
$regular-shipping-fast: "\ed52";
$regular-shipping-timed: "\ed53";
$regular-shoe-prints: "\ed54";
$regular-shopping-bag: "\ed55";
$regular-shopping-basket: "\ed56";
$regular-shopping-cart: "\ed57";
$regular-shovel: "\ed58";
$regular-shovel-snow: "\ed59";
$regular-shower: "\ed5a";
$regular-shredder: "\ed5b";
$regular-shuttlecock: "\ed5c";
$regular-shuttle-van: "\ed5d";
$regular-sigma: "\ed5e";
$regular-sign: "\ed5f";
$regular-signal: "\ed60";
$regular-signal-1: "\ed61";
$regular-signal-2: "\ed62";
$regular-signal-3: "\ed63";
$regular-signal-4: "\ed64";
$regular-signal-alt: "\ed65";
$regular-signal-alt-1: "\ed66";
$regular-signal-alt-2: "\ed67";
$regular-signal-alt-3: "\ed68";
$regular-signal-alt-slash: "\ed69";
$regular-signal-slash: "\ed6a";
$regular-signature: "\ed6b";
$regular-sign-in: "\ed6c";
$regular-sign-in-alt: "\ed6d";
$regular-sign-language: "\ed6e";
$regular-sign-out: "\ed6f";
$regular-sign-out-alt: "\ed70";
$regular-sim-card: "\ed71";
$regular-sitemap: "\ed72";
$regular-skating: "\ed73";
$regular-skeleton: "\ed74";
$regular-skiing: "\ed75";
$regular-skiing-nordic: "\ed76";
$regular-ski-jump: "\ed77";
$regular-ski-lift: "\ed78";
$regular-skull: "\ed79";
$regular-skull-crossbones: "\ed7a";
$regular-slash: "\ed7b";
$regular-sledding: "\ed7c";
$regular-sleigh: "\ed7d";
$regular-sliders-h: "\ed7e";
$regular-sliders-h-square: "\ed7f";
$regular-sliders-v: "\ed80";
$regular-sliders-v-square: "\ed81";
$regular-smile: "\ed82";
$regular-smile-beam: "\ed83";
$regular-smile-plus: "\ed84";
$regular-smile-wink: "\ed85";
$regular-smog: "\ed86";
$regular-smoke: "\ed87";
$regular-smoking: "\ed88";
$regular-smoking-ban: "\ed89";
$regular-sms: "\ed8a";
$regular-snake: "\ed8b";
$regular-snow-blowing: "\ed8c";
$regular-snowboarding: "\ed8d";
$regular-snowflake: "\ed8e";
$regular-snowflakes: "\ed8f";
$regular-snowman: "\ed90";
$regular-snowmobile: "\ed91";
$regular-snowplow: "\ed92";
$regular-socks: "\ed93";
$regular-solar-panel: "\ed94";
$regular-sort: "\ed95";
$regular-sort-alpha-down: "\ed96";
$regular-sort-alpha-up: "\ed97";
$regular-sort-amount-down: "\ed98";
$regular-sort-amount-up: "\ed99";
$regular-sort-down: "\ed9a";
$regular-sort-numeric-down: "\ed9b";
$regular-sort-numeric-up: "\ed9c";
$regular-sort-up: "\ed9d";
$regular-spa: "\ed9e";
$regular-space-shuttle: "\ed9f";
$regular-spade: "\eda0";
$regular-spider: "\eda1";
$regular-spider-black-widow: "\eda2";
$regular-spider-web: "\eda3";
$regular-spinner: "\eda4";
$regular-spinner-third: "\eda5";
$regular-splotch: "\eda6";
$regular-spray-can: "\eda7";
$regular-square: "\eda8";
$regular-square-full: "\eda9";
$regular-square-root: "\edaa";
$regular-square-root-alt: "\edab";
$regular-squirrel: "\edac";
$regular-staff: "\edad";
$regular-stamp: "\edae";
$regular-star: "\edaf";
$regular-star-and-crescent: "\edb0";
$regular-star-christmas: "\edb1";
$regular-star-exclamation: "\edb2";
$regular-star-half: "\edb3";
$regular-star-half-alt: "\edb4";
$regular-star-of-david: "\edb5";
$regular-star-of-life: "\edb6";
$regular-stars: "\edb7";
$regular-steering-wheel: "\edb8";
$regular-step-backward: "\edb9";
$regular-step-forward: "\edba";
$regular-stethoscope: "\edbb";
$regular-sticky-note: "\edbc";
$regular-stocking: "\edbd";
$regular-stomach: "\edbe";
$regular-stop: "\edbf";
$regular-stop-circle: "\edc0";
$regular-stopwatch: "\edc1";
$regular-store: "\edc2";
$regular-store-alt: "\edc3";
$regular-stream: "\edc4";
$regular-street-view: "\edc5";
$regular-strikethrough: "\edc6";
$regular-stroopwafel: "\edc7";
$regular-subscript: "\edc8";
$regular-subway: "\edc9";
$regular-suitcase: "\edca";
$regular-suitcase-rolling: "\edcb";
$regular-sun: "\edcc";
$regular-sun-cloud: "\edcd";
$regular-sun-dust: "\edce";
$regular-sun-haze: "\edcf";
$regular-sunrise: "\edd0";
$regular-sunset: "\edd1";
$regular-superscript: "\edd2";
$regular-surprise: "\edd3";
$regular-swatchbook: "\edd4";
$regular-swimmer: "\edd5";
$regular-swimming-pool: "\edd6";
$regular-sword: "\edd7";
$regular-swords: "\edd8";
$regular-synagogue: "\edd9";
$regular-sync: "\edda";
$regular-sync-alt: "\eddb";
$regular-syringe: "\eddc";
$regular-table: "\eddd";
$regular-tablet: "\edde";
$regular-tablet-alt: "\eddf";
$regular-tablet-android: "\ede0";
$regular-tablet-android-alt: "\ede1";
$regular-table-tennis: "\ede2";
$regular-tablet-rugged: "\ede3";
$regular-tablets: "\ede4";
$regular-tachometer: "\ede5";
$regular-tachometer-alt: "\ede6";
$regular-tachometer-alt-average: "\ede7";
$regular-tachometer-alt-fast: "\ede8";
$regular-tachometer-alt-fastest: "\ede9";
$regular-tachometer-alt-slow: "\edea";
$regular-tachometer-alt-slowest: "\edeb";
$regular-tachometer-average: "\edec";
$regular-tachometer-fast: "\eded";
$regular-tachometer-fastest: "\edee";
$regular-tachometer-slow: "\edef";
$regular-tachometer-slowest: "\edf0";
$regular-tag: "\edf1";
$regular-tags: "\edf2";
$regular-tally: "\edf3";
$regular-tape: "\edf4";
$regular-tasks: "\edf5";
$regular-taxi: "\edf6";
$regular-teeth: "\edf7";
$regular-teeth-open: "\edf8";
$regular-temperature-frigid: "\edf9";
$regular-temperature-high: "\edfa";
$regular-temperature-hot: "\edfb";
$regular-temperature-low: "\edfc";
$regular-tenge: "\edfd";
$regular-tennis-ball: "\edfe";
$regular-terminal: "\edff";
$regular-text-height: "\ee00";
$regular-text-width: "\ee01";
$regular-th: "\ee02";
$regular-theater-masks: "\ee03";
$regular-thermometer: "\ee04";
$regular-thermometer-empty: "\ee05";
$regular-thermometer-full: "\ee06";
$regular-thermometer-half: "\ee07";
$regular-thermometer-quarter: "\ee08";
$regular-thermometer-three-quarters: "\ee09";
$regular-theta: "\ee0a";
$regular-th-large: "\ee0b";
$regular-th-list: "\ee0c";
$regular-thumbs-down: "\ee0d";
$regular-thumbs-up: "\ee0e";
$regular-thumbtack: "\ee0f";
$regular-thunderstorm: "\ee10";
$regular-thunderstorm-moon: "\ee11";
$regular-thunderstorm-sun: "\ee12";
$regular-ticket: "\ee13";
$regular-ticket-alt: "\ee14";
$regular-tilde: "\ee15";
$regular-times: "\ee16";
$regular-times-circle: "\ee17";
$regular-times-hexagon: "\ee18";
$regular-times-octagon: "\ee19";
$regular-times-square: "\ee1a";
$regular-tint: "\ee1b";
$regular-tint-slash: "\ee1c";
$regular-tire: "\ee1d";
$regular-tired: "\ee1e";
$regular-tire-flat: "\ee1f";
$regular-tire-pressure-warning: "\ee20";
$regular-tire-rugged: "\ee21";
$regular-toggle-off: "\ee22";
$regular-toggle-on: "\ee23";
$regular-toilet: "\ee24";
$regular-toilet-paper: "\ee25";
$regular-toilet-paper-alt: "\ee26";
$regular-tombstone: "\ee27";
$regular-tombstone-alt: "\ee28";
$regular-toolbox: "\ee29";
$regular-tools: "\ee2a";
$regular-tooth: "\ee2b";
$regular-toothbrush: "\ee2c";
$regular-torah: "\ee2d";
$regular-torii-gate: "\ee2e";
$regular-tornado: "\ee2f";
$regular-tractor: "\ee30";
$regular-trademark: "\ee31";
$regular-traffic-cone: "\ee32";
$regular-traffic-light: "\ee33";
$regular-traffic-light-go: "\ee34";
$regular-traffic-light-slow: "\ee35";
$regular-traffic-light-stop: "\ee36";
$regular-train: "\ee37";
$regular-tram: "\ee38";
$regular-transgender: "\ee39";
$regular-transgender-alt: "\ee3a";
$regular-trash: "\ee3b";
$regular-trash-alt: "\ee3c";
$regular-treasure-chest: "\ee3d";
$regular-tree: "\ee3e";
$regular-tree-alt: "\ee3f";
$regular-tree-christmas: "\ee40";
$regular-tree-decorated: "\ee41";
$regular-tree-large: "\ee42";
$regular-trees: "\ee43";
$regular-triangle: "\ee44";
$regular-trophy: "\ee45";
$regular-trophy-alt: "\ee46";
$regular-truck: "\ee47";
$regular-truck-container: "\ee48";
$regular-truck-couch: "\ee49";
$regular-truck-loading: "\ee4a";
$regular-truck-monster: "\ee4b";
$regular-truck-moving: "\ee4c";
$regular-truck-pickup: "\ee4d";
$regular-truck-plow: "\ee4e";
$regular-truck-ramp: "\ee4f";
$regular-tshirt: "\ee50";
$regular-tty: "\ee51";
$regular-turkey: "\ee52";
$regular-turtle: "\ee53";
$regular-tv: "\ee54";
$regular-tv-retro: "\ee55";
$regular-umbrella: "\ee56";
$regular-umbrella-beach: "\ee57";
$regular-underline: "\ee58";
$regular-undo: "\ee59";
$regular-undo-alt: "\ee5a";
$regular-unicorn: "\ee5b";
$regular-union: "\ee5c";
$regular-universal-access: "\ee5d";
$regular-university: "\ee5e";
$regular-unlink: "\ee5f";
$regular-unlock: "\ee60";
$regular-unlock-alt: "\ee61";
$regular-upload: "\ee62";
$regular-usd-circle: "\ee63";
$regular-usd-square: "\ee64";
$regular-user: "\ee65";
$regular-user-alt: "\ee66";
$regular-user-alt-slash: "\ee67";
$regular-user-astronaut: "\ee68";
$regular-user-chart: "\ee69";
$regular-user-check: "\ee6a";
$regular-user-circle: "\ee6b";
$regular-user-clock: "\ee6c";
$regular-user-cog: "\ee6d";
$regular-user-crown: "\ee6e";
$regular-user-edit: "\ee6f";
$regular-user-friends: "\ee70";
$regular-user-graduate: "\ee71";
$regular-user-injured: "\ee72";
$regular-user-lock: "\ee73";
$regular-user-md: "\ee74";
$regular-user-minus: "\ee75";
$regular-user-ninja: "\ee76";
$regular-user-plus: "\ee77";
$regular-users: "\ee78";
$regular-users-class: "\ee79";
$regular-users-cog: "\ee7a";
$regular-users-crown: "\ee7b";
$regular-user-secret: "\ee7c";
$regular-user-shield: "\ee7d";
$regular-user-slash: "\ee7e";
$regular-user-tag: "\ee7f";
$regular-user-tie: "\ee80";
$regular-user-times: "\ee81";
$regular-utensil-fork: "\ee82";
$regular-utensil-knife: "\ee83";
$regular-utensils: "\ee84";
$regular-utensils-alt: "\ee85";
$regular-utensil-spoon: "\ee86";
$regular-value-absolute: "\ee87";
$regular-vector-square: "\ee88";
$regular-venus: "\ee89";
$regular-venus-double: "\ee8a";
$regular-venus-mars: "\ee8b";
$regular-vial: "\ee8c";
$regular-vials: "\ee8d";
$regular-video: "\ee8e";
$regular-video-plus: "\ee8f";
$regular-video-slash: "\ee90";
$regular-vihara: "\ee91";
$regular-volcano: "\ee92";
$regular-volleyball-ball: "\ee93";
$regular-volume: "\ee94";
$regular-volume-down: "\ee95";
$regular-volume-mute: "\ee96";
$regular-volume-off: "\ee97";
$regular-volume-slash: "\ee98";
$regular-volume-up: "\ee99";
$regular-vote-nay: "\ee9a";
$regular-vote-yea: "\ee9b";
$regular-vr-cardboard: "\ee9c";
$regular-walking: "\ee9d";
$regular-wallet: "\ee9e";
$regular-wand: "\ee9f";
$regular-wand-magic: "\eea0";
$regular-warehouse: "\eea1";
$regular-warehouse-alt: "\eea2";
$regular-watch: "\eea3";
$regular-watch-fitness: "\eea4";
$regular-water: "\eea5";
$regular-water-lower: "\eea6";
$regular-water-rise: "\eea7";
$regular-weight: "\eea8";
$regular-weight-hanging: "\eea9";
$regular-whale: "\eeaa";
$regular-wheat: "\eeab";
$regular-wheelchair: "\eeac";
$regular-whistle: "\eead";
$regular-wifi: "\eeae";
$regular-wifi-1: "\eeaf";
$regular-wifi-2: "\eeb0";
$regular-wifi-slash: "\eeb1";
$regular-wind: "\eeb2";
$regular-window: "\eeb3";
$regular-window-alt: "\eeb4";
$regular-window-close: "\eeb5";
$regular-window-maximize: "\eeb6";
$regular-window-minimize: "\eeb7";
$regular-window-restore: "\eeb8";
$regular-windsock: "\eeb9";
$regular-wind-warning: "\eeba";
$regular-wine-bottle: "\eebb";
$regular-wine-glass: "\eebc";
$regular-wine-glass-alt: "\eebd";
$regular-won-sign: "\eebe";
$regular-wreath: "\eebf";
$regular-wrench: "\eec0";
$regular-x-ray: "\eec1";
$regular-yen-sign: "\eec2";
$regular-yin-yang: "\eec3";

