<template>
  <div class="master-layout">
    <app-nav></app-nav>
    <div class="home has-margin-top-md has-margin-bottom-md">
      <div class="columns is-mobile">
        <div class="column is-narrow" style="width: 200px; padding-right: 0;">
          <aside class="menu is-light">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li>
                <nuxt-link :to="localePath('master')" exact>{{$t('master.dashboard')}}</nuxt-link>
              </li>
              <li>
                <nuxt-link :to="localePath('master-customer')">{{$t('master.customer')}}</nuxt-link>
                <ul>
                  <li>
                    <nuxt-link :to="localePath('master-customer-add')">{{$t('master.customer_add')}}</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link
                      :to="localePath({name:'master-customer',query:{status:'inactive'}})">
                      {{$t('master.customer_inactive')}}
                    </nuxt-link>
                  </li>
                </ul>
              </li>
              <li>
                <nuxt-link :to="localePath('master-address')">{{$t('master.address')}}</nuxt-link>
              </li>
            </ul>
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
              <li><a>Team Settings</a></li>
              <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                  <li><a>Members</a></li>
                  <li><a>Plugins</a></li>
                  <li><a>Add a member</a></li>
                </ul>
              </li>
              <li><a>Invitations</a></li>
              <li><a>Cloud Storage Environment Settings</a></li>
              <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label">
              Transactions
            </p>
            <ul class="menu-list">
              <li><a>Payments</a></li>
              <li><a>Transfers</a></li>
              <li><a>Balance</a></li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <transition
            name="fade"
            mode="out-in"
          >
            <nuxt/>
          </transition>
          <footer-layout></footer-layout>
        </div>
      </div>
    </div>

    <!--    <app-notification></app-notification>-->
  </div>
</template>

<script>
  import FooterLayout from './inc/footer-layout'
  import AppNav from '../components/app-nav'

  export default {
    name: 'master-layout',
    components: {AppNav, FooterLayout}
  }
</script>

<style scoped>
  .menu {
    position: fixed;
    top: 60px;
    width: 188px;
    height: calc(100vh - 55px);
    overflow-y: scroll;
  }

  .home {
    min-height: calc(100vh - 55px);
  }

  .footer {
    margin-left: -10px;
  }
</style>
