$font-family-solid: "gds-icon-solid" !default;

$solid-abacus: "\e900";
$solid-acorn: "\e901";
$solid-ad: "\e902";
$solid-address-book: "\e903";
$solid-address-card: "\e904";
$solid-adjust: "\e905";
$solid-air-freshener: "\e906";
$solid-alarm-clock: "\e907";
$solid-alicorn: "\e908";
$solid-align-center: "\e909";
$solid-align-justify: "\e90a";
$solid-align-left: "\e90b";
$solid-align-right: "\e90c";
$solid-allergies: "\e90d";
$solid-ambulance: "\e90e";
$solid-american-sign-language-interpreting: "\e90f";
$solid-analytics: "\e910";
$solid-anchor: "\e911";
$solid-angel: "\e912";
$solid-angle-double-down: "\e913";
$solid-angle-double-left: "\e914";
$solid-angle-double-right: "\e915";
$solid-angle-double-up: "\e916";
$solid-angle-down: "\e917";
$solid-angle-left: "\e918";
$solid-angle-right: "\e919";
$solid-angle-up: "\e91a";
$solid-angry: "\e91b";
$solid-ankh: "\e91c";
$solid-apple-alt: "\e91d";
$solid-apple-crate: "\e91e";
$solid-archive: "\e91f";
$solid-archway: "\e920";
$solid-arrow-alt-circle-down: "\e921";
$solid-arrow-alt-circle-left: "\e922";
$solid-arrow-alt-circle-right: "\e923";
$solid-arrow-alt-circle-up: "\e924";
$solid-arrow-alt-down: "\e925";
$solid-arrow-alt-from-bottom: "\e926";
$solid-arrow-alt-from-left: "\e927";
$solid-arrow-alt-from-right: "\e928";
$solid-arrow-alt-from-top: "\e929";
$solid-arrow-alt-left: "\e92a";
$solid-arrow-alt-right: "\e92b";
$solid-arrow-alt-square-down: "\e92c";
$solid-arrow-alt-square-left: "\e92d";
$solid-arrow-alt-square-right: "\e92e";
$solid-arrow-alt-square-up: "\e92f";
$solid-arrow-alt-to-bottom: "\e930";
$solid-arrow-alt-to-left: "\e931";
$solid-arrow-alt-to-right: "\e932";
$solid-arrow-alt-to-top: "\e933";
$solid-arrow-alt-up: "\e934";
$solid-arrow-circle-down: "\e935";
$solid-arrow-circle-left: "\e936";
$solid-arrow-circle-right: "\e937";
$solid-arrow-circle-up: "\e938";
$solid-arrow-down: "\e939";
$solid-arrow-from-bottom: "\e93a";
$solid-arrow-from-left: "\e93b";
$solid-arrow-from-right: "\e93c";
$solid-arrow-from-top: "\e93d";
$solid-arrow-left: "\e93e";
$solid-arrow-right: "\e93f";
$solid-arrows: "\e940";
$solid-arrows-alt: "\e941";
$solid-arrows-alt-h: "\e942";
$solid-arrows-alt-v: "\e943";
$solid-arrows-h: "\e944";
$solid-arrow-square-down: "\e945";
$solid-arrow-square-left: "\e946";
$solid-arrow-square-right: "\e947";
$solid-arrow-square-up: "\e948";
$solid-arrows-v: "\e949";
$solid-arrow-to-bottom: "\e94a";
$solid-arrow-to-left: "\e94b";
$solid-arrow-to-right: "\e94c";
$solid-arrow-to-top: "\e94d";
$solid-arrow-up: "\e94e";
$solid-assistive-listening-systems: "\e94f";
$solid-asterisk: "\e950";
$solid-at: "\e951";
$solid-atlas: "\e952";
$solid-atom: "\e953";
$solid-atom-alt: "\e954";
$solid-audio-description: "\e955";
$solid-award: "\e956";
$solid-axe: "\e957";
$solid-axe-battle: "\e958";
$solid-baby: "\e959";
$solid-baby-carriage: "\e95a";
$solid-backpack: "\e95b";
$solid-backspace: "\e95c";
$solid-backward: "\e95d";
$solid-badge: "\e95e";
$solid-badge-check: "\e95f";
$solid-badge-dollar: "\e960";
$solid-badge-percent: "\e961";
$solid-badger-honey: "\e962";
$solid-balance-scale: "\e963";
$solid-balance-scale-left: "\e964";
$solid-balance-scale-right: "\e965";
$solid-ballot: "\e966";
$solid-ballot-check: "\e967";
$solid-ball-pile: "\e968";
$solid-ban: "\e969";
$solid-band-aid: "\e96a";
$solid-barcode: "\e96b";
$solid-barcode-alt: "\e96c";
$solid-barcode-read: "\e96d";
$solid-barcode-scan: "\e96e";
$solid-bars: "\e96f";
$solid-baseball: "\e970";
$solid-baseball-ball: "\e971";
$solid-basketball-ball: "\e972";
$solid-basketball-hoop: "\e973";
$solid-bat: "\e974";
$solid-bath: "\e975";
$solid-battery-bolt: "\e976";
$solid-battery-empty: "\e977";
$solid-battery-full: "\e978";
$solid-battery-half: "\e979";
$solid-battery-quarter: "\e97a";
$solid-battery-slash: "\e97b";
$solid-battery-three-quarters: "\e97c";
$solid-bed: "\e97d";
$solid-beer: "\e97e";
$solid-bell: "\e97f";
$solid-bells: "\e980";
$solid-bell-school: "\e981";
$solid-bell-school-slash: "\e982";
$solid-bell-slash: "\e983";
$solid-bezier-curve: "\e984";
$solid-bible: "\e985";
$solid-bicycle: "\e986";
$solid-binoculars: "\e987";
$solid-biohazard: "\e988";
$solid-birthday-cake: "\e989";
$solid-blanket: "\e98a";
$solid-blender: "\e98b";
$solid-blender-phone: "\e98c";
$solid-blind: "\e98d";
$solid-blog: "\e98e";
$solid-bold: "\e98f";
$solid-bolt: "\e990";
$solid-bomb: "\e991";
$solid-bone: "\e992";
$solid-bone-break: "\e993";
$solid-bong: "\e994";
$solid-book: "\e995";
$solid-book-alt: "\e996";
$solid-book-dead: "\e997";
$solid-book-heart: "\e998";
$solid-bookmark: "\e999";
$solid-book-open: "\e99a";
$solid-book-reader: "\e99b";
$solid-books: "\e99c";
$solid-book-spells: "\e99d";
$solid-boot: "\e99e";
$solid-booth-curtain: "\e99f";
$solid-bow-arrow: "\e9a0";
$solid-bowling-ball: "\e9a1";
$solid-bowling-pins: "\e9a2";
$solid-box: "\e9a3";
$solid-box-alt: "\e9a4";
$solid-box-ballot: "\e9a5";
$solid-box-check: "\e9a6";
$solid-boxes: "\e9a7";
$solid-boxes-alt: "\e9a8";
$solid-box-fragile: "\e9a9";
$solid-box-full: "\e9aa";
$solid-box-heart: "\e9ab";
$solid-boxing-glove: "\e9ac";
$solid-box-open: "\e9ad";
$solid-box-up: "\e9ae";
$solid-box-usd: "\e9af";
$solid-braille: "\e9b0";
$solid-brain: "\e9b1";
$solid-briefcase: "\e9b2";
$solid-briefcase-medical: "\e9b3";
$solid-broadcast-tower: "\e9b4";
$solid-broom: "\e9b5";
$solid-browser: "\e9b6";
$solid-brush: "\e9b7";
$solid-bug: "\e9b8";
$solid-building: "\e9b9";
$solid-bullhorn: "\e9ba";
$solid-bullseye: "\e9bb";
$solid-bullseye-arrow: "\e9bc";
$solid-bullseye-pointer: "\e9bd";
$solid-burn: "\e9be";
$solid-bus: "\e9bf";
$solid-bus-alt: "\e9c0";
$solid-business-time: "\e9c1";
$solid-bus-school: "\e9c2";
$solid-cabinet-filing: "\e9c3";
$solid-calculator: "\e9c4";
$solid-calculator-alt: "\e9c5";
$solid-calendar: "\e9c6";
$solid-calendar-alt: "\e9c7";
$solid-calendar-check: "\e9c8";
$solid-calendar-day: "\e9c9";
$solid-calendar-edit: "\e9ca";
$solid-calendar-exclamation: "\e9cb";
$solid-calendar-minus: "\e9cc";
$solid-calendar-plus: "\e9cd";
$solid-calendar-star: "\e9ce";
$solid-calendar-times: "\e9cf";
$solid-calendar-week: "\e9d0";
$solid-camera: "\e9d1";
$solid-camera-alt: "\e9d2";
$solid-camera-retro: "\e9d3";
$solid-campfire: "\e9d4";
$solid-campground: "\e9d5";
$solid-candle-holder: "\e9d6";
$solid-candy-cane: "\e9d7";
$solid-candy-corn: "\e9d8";
$solid-cannabis: "\e9d9";
$solid-capsules: "\e9da";
$solid-car: "\e9db";
$solid-car-alt: "\e9dc";
$solid-car-battery: "\e9dd";
$solid-car-bump: "\e9de";
$solid-car-crash: "\e9df";
$solid-caret-circle-down: "\e9e0";
$solid-caret-circle-left: "\e9e1";
$solid-caret-circle-right: "\e9e2";
$solid-caret-circle-up: "\e9e3";
$solid-caret-down: "\e9e4";
$solid-caret-left: "\e9e5";
$solid-caret-right: "\e9e6";
$solid-caret-square-down: "\e9e7";
$solid-caret-square-left: "\e9e8";
$solid-caret-square-right: "\e9e9";
$solid-caret-square-up: "\e9ea";
$solid-caret-up: "\e9eb";
$solid-car-garage: "\e9ec";
$solid-car-mechanic: "\e9ed";
$solid-carrot: "\e9ee";
$solid-car-side: "\e9ef";
$solid-cart-arrow-down: "\e9f0";
$solid-car-tilt: "\e9f1";
$solid-cart-plus: "\e9f2";
$solid-car-wash: "\e9f3";
$solid-cash-register: "\e9f4";
$solid-cat: "\e9f5";
$solid-cauldron: "\e9f6";
$solid-certificate: "\e9f7";
$solid-chair: "\e9f8";
$solid-chair-office: "\e9f9";
$solid-chalkboard: "\e9fa";
$solid-chalkboard-teacher: "\e9fb";
$solid-charging-station: "\e9fc";
$solid-chart-area: "\e9fd";
$solid-chart-bar: "\e9fe";
$solid-chart-line: "\e9ff";
$solid-chart-line-down: "\ea00";
$solid-chart-network: "\ea01";
$solid-chart-pie: "\ea02";
$solid-chart-pie-alt: "\ea03";
$solid-check: "\ea04";
$solid-check-circle: "\ea05";
$solid-check-double: "\ea06";
$solid-check-square: "\ea07";
$solid-chess: "\ea08";
$solid-chess-bishop: "\ea09";
$solid-chess-bishop-alt: "\ea0a";
$solid-chess-board: "\ea0b";
$solid-chess-clock: "\ea0c";
$solid-chess-clock-alt: "\ea0d";
$solid-chess-king: "\ea0e";
$solid-chess-king-alt: "\ea0f";
$solid-chess-knight: "\ea10";
$solid-chess-knight-alt: "\ea11";
$solid-chess-pawn: "\ea12";
$solid-chess-pawn-alt: "\ea13";
$solid-chess-queen: "\ea14";
$solid-chess-queen-alt: "\ea15";
$solid-chess-rook: "\ea16";
$solid-chess-rook-alt: "\ea17";
$solid-chevron-circle-down: "\ea18";
$solid-chevron-circle-left: "\ea19";
$solid-chevron-circle-right: "\ea1a";
$solid-chevron-circle-up: "\ea1b";
$solid-chevron-double-down: "\ea1c";
$solid-chevron-double-left: "\ea1d";
$solid-chevron-double-right: "\ea1e";
$solid-chevron-double-up: "\ea1f";
$solid-chevron-down: "\ea20";
$solid-chevron-left: "\ea21";
$solid-chevron-right: "\ea22";
$solid-chevron-square-down: "\ea23";
$solid-chevron-square-left: "\ea24";
$solid-chevron-square-right: "\ea25";
$solid-chevron-square-up: "\ea26";
$solid-chevron-up: "\ea27";
$solid-child: "\ea28";
$solid-chimney: "\ea29";
$solid-church: "\ea2a";
$solid-circle: "\ea2b";
$solid-circle-notch: "\ea2c";
$solid-city: "\ea2d";
$solid-claw-marks: "\ea2e";
$solid-clipboard: "\ea2f";
$solid-clipboard-check: "\ea30";
$solid-clipboard-list: "\ea31";
$solid-clipboard-list-check: "\ea32";
$solid-clipboard-prescription: "\ea33";
$solid-clock: "\ea34";
$solid-clone: "\ea35";
$solid-closed-captioning: "\ea36";
$solid-cloud: "\ea37";
$solid-cloud-download: "\ea38";
$solid-cloud-download-alt: "\ea39";
$solid-cloud-drizzle: "\ea3a";
$solid-cloud-hail: "\ea3b";
$solid-cloud-hail-mixed: "\ea3c";
$solid-cloud-meatball: "\ea3d";
$solid-cloud-moon: "\ea3e";
$solid-cloud-moon-rain: "\ea3f";
$solid-cloud-rain: "\ea40";
$solid-cloud-rainbow: "\ea41";
$solid-clouds: "\ea42";
$solid-cloud-showers: "\ea43";
$solid-cloud-showers-heavy: "\ea44";
$solid-cloud-sleet: "\ea45";
$solid-clouds-moon: "\ea46";
$solid-cloud-snow: "\ea47";
$solid-clouds-sun: "\ea48";
$solid-cloud-sun: "\ea49";
$solid-cloud-sun-rain: "\ea4a";
$solid-cloud-upload: "\ea4b";
$solid-cloud-upload-alt: "\ea4c";
$solid-club: "\ea4d";
$solid-cocktail: "\ea4e";
$solid-code: "\ea4f";
$solid-code-branch: "\ea50";
$solid-code-commit: "\ea51";
$solid-code-merge: "\ea52";
$solid-coffee: "\ea53";
$solid-coffee-togo: "\ea54";
$solid-coffin: "\ea55";
$solid-cog: "\ea56";
$solid-cogs: "\ea57";
$solid-coins: "\ea58";
$solid-columns: "\ea59";
$solid-comment: "\ea5a";
$solid-comment-alt: "\ea5b";
$solid-comment-alt-check: "\ea5c";
$solid-comment-alt-dollar: "\ea5d";
$solid-comment-alt-dots: "\ea5e";
$solid-comment-alt-edit: "\ea5f";
$solid-comment-alt-exclamation: "\ea60";
$solid-comment-alt-lines: "\ea61";
$solid-comment-alt-minus: "\ea62";
$solid-comment-alt-plus: "\ea63";
$solid-comment-alt-slash: "\ea64";
$solid-comment-alt-smile: "\ea65";
$solid-comment-alt-times: "\ea66";
$solid-comment-check: "\ea67";
$solid-comment-dollar: "\ea68";
$solid-comment-dots: "\ea69";
$solid-comment-edit: "\ea6a";
$solid-comment-exclamation: "\ea6b";
$solid-comment-lines: "\ea6c";
$solid-comment-minus: "\ea6d";
$solid-comment-plus: "\ea6e";
$solid-comments: "\ea6f";
$solid-comments-alt: "\ea70";
$solid-comments-alt-dollar: "\ea71";
$solid-comments-dollar: "\ea72";
$solid-comment-slash: "\ea73";
$solid-comment-smile: "\ea74";
$solid-comment-times: "\ea75";
$solid-compact-disc: "\ea76";
$solid-compass: "\ea77";
$solid-compass-slash: "\ea78";
$solid-compress: "\ea79";
$solid-compress-alt: "\ea7a";
$solid-compress-arrows-alt: "\ea7b";
$solid-compress-wide: "\ea7c";
$solid-concierge-bell: "\ea7d";
$solid-container-storage: "\ea7e";
$solid-conveyor-belt: "\ea7f";
$solid-conveyor-belt-alt: "\ea80";
$solid-cookie: "\ea81";
$solid-cookie-bite: "\ea82";
$solid-copy: "\ea83";
$solid-copyright: "\ea84";
$solid-corn: "\ea85";
$solid-couch: "\ea86";
$solid-cow: "\ea87";
$solid-credit-card: "\ea88";
$solid-credit-card-blank: "\ea89";
$solid-credit-card-front: "\ea8a";
$solid-cricket: "\ea8b";
$solid-crop: "\ea8c";
$solid-crop-alt: "\ea8d";
$solid-cross: "\ea8e";
$solid-crosshairs: "\ea8f";
$solid-crow: "\ea90";
$solid-crown: "\ea91";
$solid-cube: "\ea92";
$solid-cubes: "\ea93";
$solid-curling: "\ea94";
$solid-cut: "\ea95";
$solid-dagger: "\ea96";
$solid-database: "\ea97";
$solid-deaf: "\ea98";
$solid-deer: "\ea99";
$solid-deer-rudolph: "\ea9a";
$solid-democrat: "\ea9b";
$solid-desktop: "\ea9c";
$solid-desktop-alt: "\ea9d";
$solid-dewpoint: "\ea9e";
$solid-dharmachakra: "\ea9f";
$solid-diagnoses: "\eaa0";
$solid-diamond: "\eaa1";
$solid-dice: "\eaa2";
$solid-dice-d4: "\eaa3";
$solid-dice-d6: "\eaa4";
$solid-dice-d8: "\eaa5";
$solid-dice-d10: "\eaa6";
$solid-dice-d12: "\eaa7";
$solid-dice-d20: "\eaa8";
$solid-dice-five: "\eaa9";
$solid-dice-four: "\eaaa";
$solid-dice-one: "\eaab";
$solid-dice-six: "\eaac";
$solid-dice-three: "\eaad";
$solid-dice-two: "\eaae";
$solid-digital-tachograph: "\eaaf";
$solid-diploma: "\eab0";
$solid-directions: "\eab1";
$solid-divide: "\eab2";
$solid-dizzy: "\eab3";
$solid-dna: "\eab4";
$solid-dog: "\eab5";
$solid-dog-leashed: "\eab6";
$solid-dollar-sign: "\eab7";
$solid-dolly: "\eab8";
$solid-dolly-empty: "\eab9";
$solid-dolly-flatbed: "\eaba";
$solid-dolly-flatbed-alt: "\eabb";
$solid-dolly-flatbed-empty: "\eabc";
$solid-donate: "\eabd";
$solid-do-not-enter: "\eabe";
$solid-door-closed: "\eabf";
$solid-door-open: "\eac0";
$solid-dot-circle: "\eac1";
$solid-dove: "\eac2";
$solid-download: "\eac3";
$solid-drafting-compass: "\eac4";
$solid-dragon: "\eac5";
$solid-draw-circle: "\eac6";
$solid-draw-polygon: "\eac7";
$solid-draw-square: "\eac8";
$solid-dreidel: "\eac9";
$solid-drum: "\eaca";
$solid-drum-steelpan: "\eacb";
$solid-drumstick: "\eacc";
$solid-drumstick-bite: "\eacd";
$solid-duck: "\eace";
$solid-dumbbell: "\eacf";
$solid-dumpster: "\ead0";
$solid-dumpster-fire: "\ead1";
$solid-dungeon: "\ead2";
$solid-ear: "\ead3";
$solid-ear-muffs: "\ead4";
$solid-eclipse: "\ead5";
$solid-eclipse-alt: "\ead6";
$solid-edit: "\ead7";
$solid-eject: "\ead8";
$solid-elephant: "\ead9";
$solid-ellipsis-h: "\eada";
$solid-ellipsis-h-alt: "\eadb";
$solid-ellipsis-v: "\eadc";
$solid-ellipsis-v-alt: "\eadd";
$solid-empty-set: "\eade";
$solid-engine-warning: "\eadf";
$solid-envelope: "\eae0";
$solid-envelope-open: "\eae1";
$solid-envelope-open-dollar: "\eae2";
$solid-envelope-open-text: "\eae3";
$solid-envelope-square: "\eae4";
$solid-equals: "\eae5";
$solid-eraser: "\eae6";
$solid-ethernet: "\eae7";
$solid-euro-sign: "\eae8";
$solid-exchange: "\eae9";
$solid-exchange-alt: "\eaea";
$solid-exclamation: "\eaeb";
$solid-exclamation-circle: "\eaec";
$solid-exclamation-square: "\eaed";
$solid-exclamation-triangle: "\eaee";
$solid-expand: "\eaef";
$solid-expand-alt: "\eaf0";
$solid-expand-arrows: "\eaf1";
$solid-expand-arrows-alt: "\eaf2";
$solid-expand-wide: "\eaf3";
$solid-external-link: "\eaf4";
$solid-external-link-alt: "\eaf5";
$solid-external-link-square: "\eaf6";
$solid-external-link-square-alt: "\eaf7";
$solid-eye: "\eaf8";
$solid-eye-dropper: "\eaf9";
$solid-eye-evil: "\eafa";
$solid-eye-slash: "\eafb";
$solid-fast-backward: "\eafc";
$solid-fast-forward: "\eafd";
$solid-fax: "\eafe";
$solid-feather: "\eaff";
$solid-feather-alt: "\eb00";
$solid-female: "\eb01";
$solid-field-hockey: "\eb02";
$solid-fighter-jet: "\eb03";
$solid-file: "\eb04";
$solid-file-alt: "\eb05";
$solid-file-archive: "\eb06";
$solid-file-audio: "\eb07";
$solid-file-certificate: "\eb08";
$solid-file-chart-line: "\eb09";
$solid-file-chart-pie: "\eb0a";
$solid-file-check: "\eb0b";
$solid-file-code: "\eb0c";
$solid-file-contract: "\eb0d";
$solid-file-csv: "\eb0e";
$solid-file-download: "\eb0f";
$solid-file-edit: "\eb10";
$solid-file-excel: "\eb11";
$solid-file-exclamation: "\eb12";
$solid-file-export: "\eb13";
$solid-file-image: "\eb14";
$solid-file-import: "\eb15";
$solid-file-invoice: "\eb16";
$solid-file-invoice-dollar: "\eb17";
$solid-file-medical: "\eb18";
$solid-file-medical-alt: "\eb19";
$solid-file-minus: "\eb1a";
$solid-file-pdf: "\eb1b";
$solid-file-plus: "\eb1c";
$solid-file-powerpoint: "\eb1d";
$solid-file-prescription: "\eb1e";
$solid-file-signature: "\eb1f";
$solid-file-spreadsheet: "\eb20";
$solid-file-times: "\eb21";
$solid-file-upload: "\eb22";
$solid-file-user: "\eb23";
$solid-file-video: "\eb24";
$solid-file-word: "\eb25";
$solid-fill: "\eb26";
$solid-fill-drip: "\eb27";
$solid-film: "\eb28";
$solid-film-alt: "\eb29";
$solid-filter: "\eb2a";
$solid-fingerprint: "\eb2b";
$solid-fire: "\eb2c";
$solid-fire-extinguisher: "\eb2d";
$solid-fireplace: "\eb2e";
$solid-fire-smoke: "\eb2f";
$solid-first-aid: "\eb30";
$solid-fish: "\eb31";
$solid-fist-raised: "\eb32";
$solid-flag: "\eb33";
$solid-flag-alt: "\eb34";
$solid-flag-checkered: "\eb35";
$solid-flag-usa: "\eb36";
$solid-flame: "\eb37";
$solid-flask: "\eb38";
$solid-flask-poison: "\eb39";
$solid-flask-potion: "\eb3a";
$solid-flushed: "\eb3b";
$solid-fog: "\eb3c";
$solid-folder: "\eb3d";
$solid-folder-minus: "\eb3e";
$solid-folder-open: "\eb3f";
$solid-folder-plus: "\eb40";
$solid-folders: "\eb41";
$solid-folder-times: "\eb42";
$solid-font: "\eb43";
$solid-football-ball: "\eb44";
$solid-football-helmet: "\eb45";
$solid-forklift: "\eb46";
$solid-forward: "\eb47";
$solid-fragile: "\eb48";
$solid-frog: "\eb49";
$solid-frosty-head: "\eb4a";
$solid-frown: "\eb4b";
$solid-frown-open: "\eb4c";
$solid-function: "\eb4d";
$solid-funnel-dollar: "\eb4e";
$solid-futbol: "\eb4f";
$solid-gamepad: "\eb50";
$solid-gas-pump: "\eb51";
$solid-gas-pump-slash: "\eb52";
$solid-gavel: "\eb53";
$solid-gem: "\eb54";
$solid-genderless: "\eb55";
$solid-ghost: "\eb56";
$solid-gift: "\eb57";
$solid-gift-card: "\eb58";
$solid-gifts: "\eb59";
$solid-gingerbread-man: "\eb5a";
$solid-glass-champagne: "\eb5b";
$solid-glass-cheers: "\eb5c";
$solid-glasses: "\eb5d";
$solid-glasses-alt: "\eb5e";
$solid-glass-martini: "\eb5f";
$solid-glass-martini-alt: "\eb60";
$solid-glass-whiskey: "\eb61";
$solid-glass-whiskey-rocks: "\eb62";
$solid-globe: "\eb63";
$solid-globe-africa: "\eb64";
$solid-globe-americas: "\eb65";
$solid-globe-asia: "\eb66";
$solid-globe-europe: "\eb67";
$solid-globe-snow: "\eb68";
$solid-globe-stand: "\eb69";
$solid-golf-ball: "\eb6a";
$solid-golf-club: "\eb6b";
$solid-gopuram: "\eb6c";
$solid-graduation-cap: "\eb6d";
$solid-greater-than: "\eb6e";
$solid-greater-than-equal: "\eb6f";
$solid-grimace: "\eb70";
$solid-grin: "\eb71";
$solid-grin-alt: "\eb72";
$solid-grin-beam: "\eb73";
$solid-grin-beam-sweat: "\eb74";
$solid-grin-hearts: "\eb75";
$solid-grin-squint: "\eb76";
$solid-grin-squint-tears: "\eb77";
$solid-grin-stars: "\eb78";
$solid-grin-tears: "\eb79";
$solid-grin-tongue: "\eb7a";
$solid-grin-tongue-squint: "\eb7b";
$solid-grin-tongue-wink: "\eb7c";
$solid-grin-wink: "\eb7d";
$solid-grip-horizontal: "\eb7e";
$solid-grip-lines: "\eb7f";
$solid-grip-lines-vertical: "\eb80";
$solid-grip-vertical: "\eb81";
$solid-guitar: "\eb82";
$solid-h1: "\eb83";
$solid-h2: "\eb84";
$solid-h3: "\eb85";
$solid-hammer: "\eb86";
$solid-hammer-war: "\eb87";
$solid-hamsa: "\eb88";
$solid-hand-heart: "\eb89";
$solid-hand-holding: "\eb8a";
$solid-hand-holding-box: "\eb8b";
$solid-hand-holding-heart: "\eb8c";
$solid-hand-holding-magic: "\eb8d";
$solid-hand-holding-seedling: "\eb8e";
$solid-hand-holding-usd: "\eb8f";
$solid-hand-holding-water: "\eb90";
$solid-hand-lizard: "\eb91";
$solid-hand-paper: "\eb92";
$solid-hand-peace: "\eb93";
$solid-hand-point-down: "\eb94";
$solid-hand-pointer: "\eb95";
$solid-hand-point-left: "\eb96";
$solid-hand-point-right: "\eb97";
$solid-hand-point-up: "\eb98";
$solid-hand-receiving: "\eb99";
$solid-hand-rock: "\eb9a";
$solid-hands: "\eb9b";
$solid-hand-scissors: "\eb9c";
$solid-handshake: "\eb9d";
$solid-handshake-alt: "\eb9e";
$solid-hands-heart: "\eb9f";
$solid-hands-helping: "\eba0";
$solid-hand-spock: "\eba1";
$solid-hands-usd: "\eba2";
$solid-hanukiah: "\eba3";
$solid-hashtag: "\eba4";
$solid-hat-santa: "\eba5";
$solid-hat-winter: "\eba6";
$solid-hat-witch: "\eba7";
$solid-hat-wizard: "\eba8";
$solid-haykal: "\eba9";
$solid-hdd: "\ebaa";
$solid-heading: "\ebab";
$solid-headphones: "\ebac";
$solid-headphones-alt: "\ebad";
$solid-headset: "\ebae";
$solid-head-side: "\ebaf";
$solid-head-vr: "\ebb0";
$solid-heart: "\ebb1";
$solid-heartbeat: "\ebb2";
$solid-heart-broken: "\ebb3";
$solid-heart-circle: "\ebb4";
$solid-heart-rate: "\ebb5";
$solid-heart-square: "\ebb6";
$solid-helicopter: "\ebb7";
$solid-helmet-battle: "\ebb8";
$solid-hexagon: "\ebb9";
$solid-highlighter: "\ebba";
$solid-hiking: "\ebbb";
$solid-hippo: "\ebbc";
$solid-history: "\ebbd";
$solid-hockey-mask: "\ebbe";
$solid-hockey-puck: "\ebbf";
$solid-hockey-sticks: "\ebc0";
$solid-holly-berry: "\ebc1";
$solid-home: "\ebc2";
$solid-home-heart: "\ebc3";
$solid-hood-cloak: "\ebc4";
$solid-horse: "\ebc5";
$solid-horse-head: "\ebc6";
$solid-hospital: "\ebc7";
$solid-hospital-alt: "\ebc8";
$solid-hospital-symbol: "\ebc9";
$solid-hotel: "\ebca";
$solid-hot-tub: "\ebcb";
$solid-hourglass: "\ebcc";
$solid-hourglass-end: "\ebcd";
$solid-hourglass-half: "\ebce";
$solid-hourglass-start: "\ebcf";
$solid-house-damage: "\ebd0";
$solid-house-flood: "\ebd1";
$solid-hryvnia: "\ebd2";
$solid-h-square: "\ebd3";
$solid-humidity: "\ebd4";
$solid-hurricane: "\ebd5";
$solid-ice-skate: "\ebd6";
$solid-icicles: "\ebd7";
$solid-i-cursor: "\ebd8";
$solid-id-badge: "\ebd9";
$solid-id-card: "\ebda";
$solid-id-card-alt: "\ebdb";
$solid-igloo: "\ebdc";
$solid-image: "\ebdd";
$solid-images: "\ebde";
$solid-inbox: "\ebdf";
$solid-inbox-in: "\ebe0";
$solid-inbox-out: "\ebe1";
$solid-indent: "\ebe2";
$solid-industry: "\ebe3";
$solid-industry-alt: "\ebe4";
$solid-infinity: "\ebe5";
$solid-info: "\ebe6";
$solid-info-circle: "\ebe7";
$solid-info-square: "\ebe8";
$solid-inhaler: "\ebe9";
$solid-integral: "\ebea";
$solid-intersection: "\ebeb";
$solid-inventory: "\ebec";
$solid-italic: "\ebed";
$solid-jack-o-lantern: "\ebee";
$solid-jedi: "\ebef";
$solid-joint: "\ebf0";
$solid-journal-whills: "\ebf1";
$solid-kaaba: "\ebf2";
$solid-key: "\ebf3";
$solid-keyboard: "\ebf4";
$solid-keynote: "\ebf5";
$solid-key-skeleton: "\ebf6";
$solid-khanda: "\ebf7";
$solid-kidneys: "\ebf8";
$solid-kiss: "\ebf9";
$solid-kiss-beam: "\ebfa";
$solid-kiss-wink-heart: "\ebfb";
$solid-kite: "\ebfc";
$solid-kiwi-bird: "\ebfd";
$solid-knife-kitchen: "\ebfe";
$solid-lambda: "\ebff";
$solid-lamp: "\ec00";
$solid-landmark: "\ec01";
$solid-landmark-alt: "\ec02";
$solid-language: "\ec03";
$solid-laptop: "\ec04";
$solid-laptop-code: "\ec05";
$solid-laugh: "\ec06";
$solid-laugh-beam: "\ec07";
$solid-laugh-squint: "\ec08";
$solid-laugh-wink: "\ec09";
$solid-layer-group: "\ec0a";
$solid-layer-minus: "\ec0b";
$solid-layer-plus: "\ec0c";
$solid-leaf: "\ec0d";
$solid-leaf-heart: "\ec0e";
$solid-leaf-maple: "\ec0f";
$solid-leaf-oak: "\ec10";
$solid-lemon: "\ec11";
$solid-less-than: "\ec12";
$solid-less-than-equal: "\ec13";
$solid-level-down: "\ec14";
$solid-level-down-alt: "\ec15";
$solid-level-up: "\ec16";
$solid-level-up-alt: "\ec17";
$solid-life-ring: "\ec18";
$solid-lightbulb: "\ec19";
$solid-lightbulb-dollar: "\ec1a";
$solid-lightbulb-exclamation: "\ec1b";
$solid-lightbulb-on: "\ec1c";
$solid-lightbulb-slash: "\ec1d";
$solid-lights-holiday: "\ec1e";
$solid-link: "\ec1f";
$solid-lips: "\ec20";
$solid-lira-sign: "\ec21";
$solid-list: "\ec22";
$solid-list-alt: "\ec23";
$solid-list-ol: "\ec24";
$solid-list-ul: "\ec25";
$solid-location: "\ec26";
$solid-location-arrow: "\ec27";
$solid-location-circle: "\ec28";
$solid-location-slash: "\ec29";
$solid-lock: "\ec2a";
$solid-lock-alt: "\ec2b";
$solid-lock-open: "\ec2c";
$solid-lock-open-alt: "\ec2d";
$solid-long-arrow-alt-down: "\ec2e";
$solid-long-arrow-alt-left: "\ec2f";
$solid-long-arrow-alt-right: "\ec30";
$solid-long-arrow-alt-up: "\ec31";
$solid-long-arrow-down: "\ec32";
$solid-long-arrow-left: "\ec33";
$solid-long-arrow-right: "\ec34";
$solid-long-arrow-up: "\ec35";
$solid-loveseat: "\ec36";
$solid-low-vision: "\ec37";
$solid-luchador: "\ec38";
$solid-luggage-cart: "\ec39";
$solid-lungs: "\ec3a";
$solid-mace: "\ec3b";
$solid-magic: "\ec3c";
$solid-magnet: "\ec3d";
$solid-mail-bulk: "\ec3e";
$solid-male: "\ec3f";
$solid-mandolin: "\ec40";
$solid-map: "\ec41";
$solid-map-marked: "\ec42";
$solid-map-marked-alt: "\ec43";
$solid-map-marker: "\ec44";
$solid-map-marker-alt: "\ec45";
$solid-map-marker-alt-slash: "\ec46";
$solid-map-marker-check: "\ec47";
$solid-map-marker-edit: "\ec48";
$solid-map-marker-exclamation: "\ec49";
$solid-map-marker-minus: "\ec4a";
$solid-map-marker-plus: "\ec4b";
$solid-map-marker-question: "\ec4c";
$solid-map-marker-slash: "\ec4d";
$solid-map-marker-smile: "\ec4e";
$solid-map-marker-times: "\ec4f";
$solid-map-pin: "\ec50";
$solid-map-signs: "\ec51";
$solid-marker: "\ec52";
$solid-mars: "\ec53";
$solid-mars-double: "\ec54";
$solid-mars-stroke: "\ec55";
$solid-mars-stroke-h: "\ec56";
$solid-mars-stroke-v: "\ec57";
$solid-mask: "\ec58";
$solid-medal: "\ec59";
$solid-medkit: "\ec5a";
$solid-megaphone: "\ec5b";
$solid-meh: "\ec5c";
$solid-meh-blank: "\ec5d";
$solid-meh-rolling-eyes: "\ec5e";
$solid-memory: "\ec5f";
$solid-menorah: "\ec60";
$solid-mercury: "\ec61";
$solid-meteor: "\ec62";
$solid-microchip: "\ec63";
$solid-microphone: "\ec64";
$solid-microphone-alt: "\ec65";
$solid-microphone-alt-slash: "\ec66";
$solid-microphone-slash: "\ec67";
$solid-microscope: "\ec68";
$solid-mind-share: "\ec69";
$solid-minus: "\ec6a";
$solid-minus-circle: "\ec6b";
$solid-minus-hexagon: "\ec6c";
$solid-minus-octagon: "\ec6d";
$solid-minus-square: "\ec6e";
$solid-mistletoe: "\ec6f";
$solid-mitten: "\ec70";
$solid-mobile: "\ec71";
$solid-mobile-alt: "\ec72";
$solid-mobile-android: "\ec73";
$solid-mobile-android-alt: "\ec74";
$solid-money-bill: "\ec75";
$solid-money-bill-alt: "\ec76";
$solid-money-bill-wave: "\ec77";
$solid-money-bill-wave-alt: "\ec78";
$solid-money-check: "\ec79";
$solid-money-check-alt: "\ec7a";
$solid-monitor-heart-rate: "\ec7b";
$solid-monkey: "\ec7c";
$solid-monument: "\ec7d";
$solid-moon: "\ec7e";
$solid-moon-cloud: "\ec7f";
$solid-moon-stars: "\ec80";
$solid-mortar-pestle: "\ec81";
$solid-mosque: "\ec82";
$solid-motorcycle: "\ec83";
$solid-mountain: "\ec84";
$solid-mountains: "\ec85";
$solid-mouse-pointer: "\ec86";
$solid-mug-hot: "\ec87";
$solid-mug-marshmallows: "\ec88";
$solid-music: "\ec89";
$solid-narwhal: "\ec8a";
$solid-network-wired: "\ec8b";
$solid-neuter: "\ec8c";
$solid-newspaper: "\ec8d";
$solid-not-equal: "\ec8e";
$solid-notes-medical: "\ec8f";
$solid-object-group: "\ec90";
$solid-object-ungroup: "\ec91";
$solid-octagon: "\ec92";
$solid-oil-can: "\ec93";
$solid-oil-temp: "\ec94";
$solid-om: "\ec95";
$solid-omega: "\ec96";
$solid-ornament: "\ec97";
$solid-otter: "\ec98";
$solid-outdent: "\ec99";
$solid-paint-brush: "\ec9a";
$solid-paint-brush-alt: "\ec9b";
$solid-paint-roller: "\ec9c";
$solid-palette: "\ec9d";
$solid-pallet: "\ec9e";
$solid-pallet-alt: "\ec9f";
$solid-paperclip: "\eca0";
$solid-paper-plane: "\eca1";
$solid-parachute-box: "\eca2";
$solid-paragraph: "\eca3";
$solid-parking: "\eca4";
$solid-parking-circle: "\eca5";
$solid-parking-circle-slash: "\eca6";
$solid-parking-slash: "\eca7";
$solid-passport: "\eca8";
$solid-pastafarianism: "\eca9";
$solid-paste: "\ecaa";
$solid-pause: "\ecab";
$solid-pause-circle: "\ecac";
$solid-paw: "\ecad";
$solid-paw-alt: "\ecae";
$solid-paw-claws: "\ecaf";
$solid-peace: "\ecb0";
$solid-pegasus: "\ecb1";
$solid-pen: "\ecb2";
$solid-pen-alt: "\ecb3";
$solid-pencil: "\ecb4";
$solid-pencil-alt: "\ecb5";
$solid-pencil-paintbrush: "\ecb6";
$solid-pencil-ruler: "\ecb7";
$solid-pen-fancy: "\ecb8";
$solid-pennant: "\ecb9";
$solid-pen-nib: "\ecba";
$solid-pen-square: "\ecbb";
$solid-people-carry: "\ecbc";
$solid-percent: "\ecbd";
$solid-percentage: "\ecbe";
$solid-person-booth: "\ecbf";
$solid-person-carry: "\ecc0";
$solid-person-dolly: "\ecc1";
$solid-person-dolly-empty: "\ecc2";
$solid-person-sign: "\ecc3";
$solid-phone: "\ecc4";
$solid-phone-office: "\ecc5";
$solid-phone-plus: "\ecc6";
$solid-phone-slash: "\ecc7";
$solid-phone-square: "\ecc8";
$solid-phone-volume: "\ecc9";
$solid-pi: "\ecca";
$solid-pie: "\eccb";
$solid-pig: "\eccc";
$solid-piggy-bank: "\eccd";
$solid-pills: "\ecce";
$solid-place-of-worship: "\eccf";
$solid-plane: "\ecd0";
$solid-plane-alt: "\ecd1";
$solid-plane-arrival: "\ecd2";
$solid-plane-departure: "\ecd3";
$solid-play: "\ecd4";
$solid-play-circle: "\ecd5";
$solid-plug: "\ecd6";
$solid-plus: "\ecd7";
$solid-plus-circle: "\ecd8";
$solid-plus-hexagon: "\ecd9";
$solid-plus-octagon: "\ecda";
$solid-plus-square: "\ecdb";
$solid-podcast: "\ecdc";
$solid-podium: "\ecdd";
$solid-podium-star: "\ecde";
$solid-poll: "\ecdf";
$solid-poll-h: "\ece0";
$solid-poll-people: "\ece1";
$solid-poo: "\ece2";
$solid-poop: "\ece3";
$solid-poo-storm: "\ece4";
$solid-portrait: "\ece5";
$solid-pound-sign: "\ece6";
$solid-power-off: "\ece7";
$solid-pray: "\ece8";
$solid-praying-hands: "\ece9";
$solid-prescription: "\ecea";
$solid-prescription-bottle: "\eceb";
$solid-prescription-bottle-alt: "\ecec";
$solid-presentation: "\eced";
$solid-print: "\ecee";
$solid-print-slash: "\ecef";
$solid-procedures: "\ecf0";
$solid-project-diagram: "\ecf1";
$solid-pumpkin: "\ecf2";
$solid-puzzle-piece: "\ecf3";
$solid-qrcode: "\ecf4";
$solid-question: "\ecf5";
$solid-question-circle: "\ecf6";
$solid-question-square: "\ecf7";
$solid-quidditch: "\ecf8";
$solid-quote-left: "\ecf9";
$solid-quote-right: "\ecfa";
$solid-quran: "\ecfb";
$solid-rabbit: "\ecfc";
$solid-rabbit-fast: "\ecfd";
$solid-racquet: "\ecfe";
$solid-radiation: "\ecff";
$solid-radiation-alt: "\ed00";
$solid-rainbow: "\ed01";
$solid-raindrops: "\ed02";
$solid-ram: "\ed03";
$solid-ramp-loading: "\ed04";
$solid-random: "\ed05";
$solid-receipt: "\ed06";
$solid-rectangle-landscape: "\ed07";
$solid-rectangle-portrait: "\ed08";
$solid-rectangle-wide: "\ed09";
$solid-recycle: "\ed0a";
$solid-redo: "\ed0b";
$solid-redo-alt: "\ed0c";
$solid-registered: "\ed0d";
$solid-repeat: "\ed0e";
$solid-repeat-1: "\ed0f";
$solid-repeat-1-alt: "\ed10";
$solid-repeat-alt: "\ed11";
$solid-reply: "\ed12";
$solid-reply-all: "\ed13";
$solid-republican: "\ed14";
$solid-restroom: "\ed15";
$solid-retweet: "\ed16";
$solid-retweet-alt: "\ed17";
$solid-ribbon: "\ed18";
$solid-ring: "\ed19";
$solid-road: "\ed1a";
$solid-robot: "\ed1b";
$solid-rocket: "\ed1c";
$solid-route: "\ed1d";
$solid-route-highway: "\ed1e";
$solid-route-interstate: "\ed1f";
$solid-rss: "\ed20";
$solid-rss-square: "\ed21";
$solid-ruble-sign: "\ed22";
$solid-ruler: "\ed23";
$solid-ruler-combined: "\ed24";
$solid-ruler-horizontal: "\ed25";
$solid-ruler-triangle: "\ed26";
$solid-ruler-vertical: "\ed27";
$solid-running: "\ed28";
$solid-rupee-sign: "\ed29";
$solid-rv: "\ed2a";
$solid-sad-cry: "\ed2b";
$solid-sad-tear: "\ed2c";
$solid-satellite: "\ed2d";
$solid-satellite-dish: "\ed2e";
$solid-save: "\ed2f";
$solid-scalpel: "\ed30";
$solid-scalpel-path: "\ed31";
$solid-scanner: "\ed32";
$solid-scanner-keyboard: "\ed33";
$solid-scanner-touchscreen: "\ed34";
$solid-scarecrow: "\ed35";
$solid-scarf: "\ed36";
$solid-school: "\ed37";
$solid-screwdriver: "\ed38";
$solid-scroll: "\ed39";
$solid-scroll-old: "\ed3a";
$solid-scrubber: "\ed3b";
$solid-scythe: "\ed3c";
$solid-sd-card: "\ed3d";
$solid-search: "\ed3e";
$solid-search-dollar: "\ed3f";
$solid-search-location: "\ed40";
$solid-search-minus: "\ed41";
$solid-search-plus: "\ed42";
$solid-seedling: "\ed43";
$solid-server: "\ed44";
$solid-shapes: "\ed45";
$solid-share: "\ed46";
$solid-share-all: "\ed47";
$solid-share-alt: "\ed48";
$solid-share-alt-square: "\ed49";
$solid-share-square: "\ed4a";
$solid-sheep: "\ed4b";
$solid-shekel-sign: "\ed4c";
$solid-shield: "\ed4d";
$solid-shield-alt: "\ed4e";
$solid-shield-check: "\ed4f";
$solid-shield-cross: "\ed50";
$solid-ship: "\ed51";
$solid-shipping-fast: "\ed52";
$solid-shipping-timed: "\ed53";
$solid-shoe-prints: "\ed54";
$solid-shopping-bag: "\ed55";
$solid-shopping-basket: "\ed56";
$solid-shopping-cart: "\ed57";
$solid-shovel: "\ed58";
$solid-shovel-snow: "\ed59";
$solid-shower: "\ed5a";
$solid-shredder: "\ed5b";
$solid-shuttlecock: "\ed5c";
$solid-shuttle-van: "\ed5d";
$solid-sigma: "\ed5e";
$solid-sign: "\ed5f";
$solid-signal: "\ed60";
$solid-signal-1: "\ed61";
$solid-signal-2: "\ed62";
$solid-signal-3: "\ed63";
$solid-signal-4: "\ed64";
$solid-signal-alt: "\ed65";
$solid-signal-alt-1: "\ed66";
$solid-signal-alt-2: "\ed67";
$solid-signal-alt-3: "\ed68";
$solid-signal-alt-slash: "\ed69";
$solid-signal-slash: "\ed6a";
$solid-signature: "\ed6b";
$solid-sign-in: "\ed6c";
$solid-sign-in-alt: "\ed6d";
$solid-sign-language: "\ed6e";
$solid-sign-out: "\ed6f";
$solid-sign-out-alt: "\ed70";
$solid-sim-card: "\ed71";
$solid-sitemap: "\ed72";
$solid-skating: "\ed73";
$solid-skeleton: "\ed74";
$solid-skiing: "\ed75";
$solid-skiing-nordic: "\ed76";
$solid-ski-jump: "\ed77";
$solid-ski-lift: "\ed78";
$solid-skull: "\ed79";
$solid-skull-crossbones: "\ed7a";
$solid-slash: "\ed7b";
$solid-sledding: "\ed7c";
$solid-sleigh: "\ed7d";
$solid-sliders-h: "\ed7e";
$solid-sliders-h-square: "\ed7f";
$solid-sliders-v: "\ed80";
$solid-sliders-v-square: "\ed81";
$solid-smile: "\ed82";
$solid-smile-beam: "\ed83";
$solid-smile-plus: "\ed84";
$solid-smile-wink: "\ed85";
$solid-smog: "\ed86";
$solid-smoke: "\ed87";
$solid-smoking: "\ed88";
$solid-smoking-ban: "\ed89";
$solid-sms: "\ed8a";
$solid-snake: "\ed8b";
$solid-snow-blowing: "\ed8c";
$solid-snowboarding: "\ed8d";
$solid-snowflake: "\ed8e";
$solid-snowflakes: "\ed8f";
$solid-snowman: "\ed90";
$solid-snowmobile: "\ed91";
$solid-snowplow: "\ed92";
$solid-socks: "\ed93";
$solid-solar-panel: "\ed94";
$solid-sort: "\ed95";
$solid-sort-alpha-down: "\ed96";
$solid-sort-alpha-up: "\ed97";
$solid-sort-amount-down: "\ed98";
$solid-sort-amount-up: "\ed99";
$solid-sort-down: "\ed9a";
$solid-sort-numeric-down: "\ed9b";
$solid-sort-numeric-up: "\ed9c";
$solid-sort-up: "\ed9d";
$solid-spa: "\ed9e";
$solid-space-shuttle: "\ed9f";
$solid-spade: "\eda0";
$solid-spider: "\eda1";
$solid-spider-black-widow: "\eda2";
$solid-spider-web: "\eda3";
$solid-spinner: "\eda4";
$solid-spinner-third: "\eda5";
$solid-splotch: "\eda6";
$solid-spray-can: "\eda7";
$solid-square: "\eda8";
$solid-square-full: "\eda9";
$solid-square-root: "\edaa";
$solid-square-root-alt: "\edab";
$solid-squirrel: "\edac";
$solid-staff: "\edad";
$solid-stamp: "\edae";
$solid-star: "\edaf";
$solid-star-and-crescent: "\edb0";
$solid-star-christmas: "\edb1";
$solid-star-exclamation: "\edb2";
$solid-star-half: "\edb3";
$solid-star-half-alt: "\edb4";
$solid-star-of-david: "\edb5";
$solid-star-of-life: "\edb6";
$solid-stars: "\edb7";
$solid-steering-wheel: "\edb8";
$solid-step-backward: "\edb9";
$solid-step-forward: "\edba";
$solid-stethoscope: "\edbb";
$solid-sticky-note: "\edbc";
$solid-stocking: "\edbd";
$solid-stomach: "\edbe";
$solid-stop: "\edbf";
$solid-stop-circle: "\edc0";
$solid-stopwatch: "\edc1";
$solid-store: "\edc2";
$solid-store-alt: "\edc3";
$solid-stream: "\edc4";
$solid-street-view: "\edc5";
$solid-strikethrough: "\edc6";
$solid-stroopwafel: "\edc7";
$solid-subscript: "\edc8";
$solid-subway: "\edc9";
$solid-suitcase: "\edca";
$solid-suitcase-rolling: "\edcb";
$solid-sun: "\edcc";
$solid-sun-cloud: "\edcd";
$solid-sun-dust: "\edce";
$solid-sun-haze: "\edcf";
$solid-sunrise: "\edd0";
$solid-sunset: "\edd1";
$solid-superscript: "\edd2";
$solid-surprise: "\edd3";
$solid-swatchbook: "\edd4";
$solid-swimmer: "\edd5";
$solid-swimming-pool: "\edd6";
$solid-sword: "\edd7";
$solid-swords: "\edd8";
$solid-synagogue: "\edd9";
$solid-sync: "\edda";
$solid-sync-alt: "\eddb";
$solid-syringe: "\eddc";
$solid-table: "\eddd";
$solid-tablet: "\edde";
$solid-tablet-alt: "\eddf";
$solid-tablet-android: "\ede0";
$solid-tablet-android-alt: "\ede1";
$solid-table-tennis: "\ede2";
$solid-tablet-rugged: "\ede3";
$solid-tablets: "\ede4";
$solid-tachometer: "\ede5";
$solid-tachometer-alt: "\ede6";
$solid-tachometer-alt-average: "\ede7";
$solid-tachometer-alt-fast: "\ede8";
$solid-tachometer-alt-fastest: "\ede9";
$solid-tachometer-alt-slow: "\edea";
$solid-tachometer-alt-slowest: "\edeb";
$solid-tachometer-average: "\edec";
$solid-tachometer-fast: "\eded";
$solid-tachometer-fastest: "\edee";
$solid-tachometer-slow: "\edef";
$solid-tachometer-slowest: "\edf0";
$solid-tag: "\edf1";
$solid-tags: "\edf2";
$solid-tally: "\edf3";
$solid-tape: "\edf4";
$solid-tasks: "\edf5";
$solid-taxi: "\edf6";
$solid-teeth: "\edf7";
$solid-teeth-open: "\edf8";
$solid-temperature-frigid: "\edf9";
$solid-temperature-high: "\edfa";
$solid-temperature-hot: "\edfb";
$solid-temperature-low: "\edfc";
$solid-tenge: "\edfd";
$solid-tennis-ball: "\edfe";
$solid-terminal: "\edff";
$solid-text-height: "\ee00";
$solid-text-width: "\ee01";
$solid-th: "\ee02";
$solid-theater-masks: "\ee03";
$solid-thermometer: "\ee04";
$solid-thermometer-empty: "\ee05";
$solid-thermometer-full: "\ee06";
$solid-thermometer-half: "\ee07";
$solid-thermometer-quarter: "\ee08";
$solid-thermometer-three-quarters: "\ee09";
$solid-theta: "\ee0a";
$solid-th-large: "\ee0b";
$solid-th-list: "\ee0c";
$solid-thumbs-down: "\ee0d";
$solid-thumbs-up: "\ee0e";
$solid-thumbtack: "\ee0f";
$solid-thunderstorm: "\ee10";
$solid-thunderstorm-moon: "\ee11";
$solid-thunderstorm-sun: "\ee12";
$solid-ticket: "\ee13";
$solid-ticket-alt: "\ee14";
$solid-tilde: "\ee15";
$solid-times: "\ee16";
$solid-times-circle: "\ee17";
$solid-times-hexagon: "\ee18";
$solid-times-octagon: "\ee19";
$solid-times-square: "\ee1a";
$solid-tint: "\ee1b";
$solid-tint-slash: "\ee1c";
$solid-tire: "\ee1d";
$solid-tired: "\ee1e";
$solid-tire-flat: "\ee1f";
$solid-tire-pressure-warning: "\ee20";
$solid-tire-rugged: "\ee21";
$solid-toggle-off: "\ee22";
$solid-toggle-on: "\ee23";
$solid-toilet: "\ee24";
$solid-toilet-paper: "\ee25";
$solid-toilet-paper-alt: "\ee26";
$solid-tombstone: "\ee27";
$solid-tombstone-alt: "\ee28";
$solid-toolbox: "\ee29";
$solid-tools: "\ee2a";
$solid-tooth: "\ee2b";
$solid-toothbrush: "\ee2c";
$solid-torah: "\ee2d";
$solid-torii-gate: "\ee2e";
$solid-tornado: "\ee2f";
$solid-tractor: "\ee30";
$solid-trademark: "\ee31";
$solid-traffic-cone: "\ee32";
$solid-traffic-light: "\ee33";
$solid-traffic-light-go: "\ee34";
$solid-traffic-light-slow: "\ee35";
$solid-traffic-light-stop: "\ee36";
$solid-train: "\ee37";
$solid-tram: "\ee38";
$solid-transgender: "\ee39";
$solid-transgender-alt: "\ee3a";
$solid-trash: "\ee3b";
$solid-trash-alt: "\ee3c";
$solid-treasure-chest: "\ee3d";
$solid-tree: "\ee3e";
$solid-tree-alt: "\ee3f";
$solid-tree-christmas: "\ee40";
$solid-tree-decorated: "\ee41";
$solid-tree-large: "\ee42";
$solid-trees: "\ee43";
$solid-triangle: "\ee44";
$solid-trophy: "\ee45";
$solid-trophy-alt: "\ee46";
$solid-truck: "\ee47";
$solid-truck-container: "\ee48";
$solid-truck-couch: "\ee49";
$solid-truck-loading: "\ee4a";
$solid-truck-monster: "\ee4b";
$solid-truck-moving: "\ee4c";
$solid-truck-pickup: "\ee4d";
$solid-truck-plow: "\ee4e";
$solid-truck-ramp: "\ee4f";
$solid-tshirt: "\ee50";
$solid-tty: "\ee51";
$solid-turkey: "\ee52";
$solid-turtle: "\ee53";
$solid-tv: "\ee54";
$solid-tv-retro: "\ee55";
$solid-umbrella: "\ee56";
$solid-umbrella-beach: "\ee57";
$solid-underline: "\ee58";
$solid-undo: "\ee59";
$solid-undo-alt: "\ee5a";
$solid-unicorn: "\ee5b";
$solid-union: "\ee5c";
$solid-universal-access: "\ee5d";
$solid-university: "\ee5e";
$solid-unlink: "\ee5f";
$solid-unlock: "\ee60";
$solid-unlock-alt: "\ee61";
$solid-upload: "\ee62";
$solid-usd-circle: "\ee63";
$solid-usd-square: "\ee64";
$solid-user: "\ee65";
$solid-user-alt: "\ee66";
$solid-user-alt-slash: "\ee67";
$solid-user-astronaut: "\ee68";
$solid-user-chart: "\ee69";
$solid-user-check: "\ee6a";
$solid-user-circle: "\ee6b";
$solid-user-clock: "\ee6c";
$solid-user-cog: "\ee6d";
$solid-user-crown: "\ee6e";
$solid-user-edit: "\ee6f";
$solid-user-friends: "\ee70";
$solid-user-graduate: "\ee71";
$solid-user-injured: "\ee72";
$solid-user-lock: "\ee73";
$solid-user-md: "\ee74";
$solid-user-minus: "\ee75";
$solid-user-ninja: "\ee76";
$solid-user-plus: "\ee77";
$solid-users: "\ee78";
$solid-users-class: "\ee79";
$solid-users-cog: "\ee7a";
$solid-users-crown: "\ee7b";
$solid-user-secret: "\ee7c";
$solid-user-shield: "\ee7d";
$solid-user-slash: "\ee7e";
$solid-user-tag: "\ee7f";
$solid-user-tie: "\ee80";
$solid-user-times: "\ee81";
$solid-utensil-fork: "\ee82";
$solid-utensil-knife: "\ee83";
$solid-utensils: "\ee84";
$solid-utensils-alt: "\ee85";
$solid-utensil-spoon: "\ee86";
$solid-value-absolute: "\ee87";
$solid-vector-square: "\ee88";
$solid-venus: "\ee89";
$solid-venus-double: "\ee8a";
$solid-venus-mars: "\ee8b";
$solid-vial: "\ee8c";
$solid-vials: "\ee8d";
$solid-video: "\ee8e";
$solid-video-plus: "\ee8f";
$solid-video-slash: "\ee90";
$solid-vihara: "\ee91";
$solid-volcano: "\ee92";
$solid-volleyball-ball: "\ee93";
$solid-volume: "\ee94";
$solid-volume-down: "\ee95";
$solid-volume-mute: "\ee96";
$solid-volume-off: "\ee97";
$solid-volume-slash: "\ee98";
$solid-volume-up: "\ee99";
$solid-vote-nay: "\ee9a";
$solid-vote-yea: "\ee9b";
$solid-vr-cardboard: "\ee9c";
$solid-walking: "\ee9d";
$solid-wallet: "\ee9e";
$solid-wand: "\ee9f";
$solid-wand-magic: "\eea0";
$solid-warehouse: "\eea1";
$solid-warehouse-alt: "\eea2";
$solid-watch: "\eea3";
$solid-watch-fitness: "\eea4";
$solid-water: "\eea5";
$solid-water-lower: "\eea6";
$solid-water-rise: "\eea7";
$solid-weight: "\eea8";
$solid-weight-hanging: "\eea9";
$solid-whale: "\eeaa";
$solid-wheat: "\eeab";
$solid-wheelchair: "\eeac";
$solid-whistle: "\eead";
$solid-wifi: "\eeae";
$solid-wifi-1: "\eeaf";
$solid-wifi-2: "\eeb0";
$solid-wifi-slash: "\eeb1";
$solid-wind: "\eeb2";
$solid-window: "\eeb3";
$solid-window-alt: "\eeb4";
$solid-window-close: "\eeb5";
$solid-window-maximize: "\eeb6";
$solid-window-minimize: "\eeb7";
$solid-window-restore: "\eeb8";
$solid-windsock: "\eeb9";
$solid-wind-warning: "\eeba";
$solid-wine-bottle: "\eebb";
$solid-wine-glass: "\eebc";
$solid-wine-glass-alt: "\eebd";
$solid-won-sign: "\eebe";
$solid-wreath: "\eebf";
$solid-wrench: "\eec0";
$solid-x-ray: "\eec1";
$solid-yen-sign: "\eec2";
$solid-yin-yang: "\eec3";

