<template>
  <section class="container">
    <div>
      <logo :color="['#10679E','#dedaa1']" height="100px"></logo>
      <h1 class="title">
        vue-base-ssr
      </h1>
      <h2 class="subtitle">
        My vue ssr project
      </h2>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>

</style>
